<div class="layui-side layui-bg-black x-side">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe634;</i><cite>轮播管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('banner/index')}">
                            <cite>轮播列表</cite>
                        </a>
                    </dd>
                    </dd>
                </dl>
            </li>

           <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe604;</i><cite>网站头部</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('header/index')}">
                            <cite>关键词，描述</cite>
                        </a>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe60a;</i><cite>首页管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('bannersy/index')}">
                            <cite>首页轮播图</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('product/index')}">
                            <cite>产品服务</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('bosheng/index')}">
                            <cite>博盛天达服务</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('partners/index')}">
                            <cite>合作伙伴</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe63a;</i><cite>关于我们</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('gongs/index')}">
                            <cite>公司简介</cite>
                        </a>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe638;</i><cite>搜索引擎</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('category/index')}">
                            <cite>引擎名称</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('cate/index')}">
                            <cite>引擎名称banner</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('catezhuti/index')}">
                            <cite>引擎名称主体banner</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('catessimg/index')}">
                            <cite>轮播图</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe650;</i><cite>信息流营销</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('categoryxx/index')}">
                            <cite>信息流名称</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="{:url('catexx/index')}">
                            <cite>信息流名称banner</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="{:url('catexxzhuti/index')}">
                            <cite>信息流名称主体图片</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="{:url('catexximg/index')}">
                            <cite>轮播图</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe62e;</i><cite>微信朋友圈</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('categorywx/index')}">
                            <cite>广告名称</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('catewx/index')}">
                            <cite>广告banner</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="{:url('catewxzhuti/index')}">
                            <cite>主体图片</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="{:url('catewximg/index')}">
                            <cite>轮播图</cite>
                        </a>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe63d;</i><cite>央视广告</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('adver/index')}">
                            <cite>广告轮播图</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('yangshizt/index')}">
                            <cite>广告主体图片</cite>
                        </a>
                    </dd>
                </dl>
            </li>          

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe63e;</i><cite>卫视广告</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('weishi/index')}">
                            <cite>广告轮播图</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('weishizt/index')}">
                            <cite>广告主体图片</cite>
                        </a>
                    </dd>
                </dl>
            </li> 

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe63e;</i><cite>网络SEO</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('seo/index')}">
                            <cite>网络SEO轮播图</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('seozhut/index')}">
                            <cite>SEO主体图片</cite>
                        </a>
                    </dd>
                </dl>
            </li>   

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe63e;</i><cite>网站建设</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('wangzhan/index')}">
                            <cite>网站建设轮播图</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('wangzhanzt/index')}">
                            <cite>网站建设主体图片</cite>
                        </a>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe63a;</i><cite>联系我们</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('message/index')}">
                            <cite>留言列表</cite>
                        </a>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe613;</i><cite>管理员管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('admin/index')}">
                            <cite>管理员列表</cite>
                        </a>
                    </dd>

                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe637;</i><cite>友情链接</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('link/index')}">
                            <cite>友情管理</cite>
                        </a>
                    </dd>

                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe637;</i><cite>社交广告</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('shejiao/index')}">
                            <cite>广告</cite>
                        </a>
                    </dd>

                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe637;</i><cite>信息流广告</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('liuguang/index')}">
                            <cite>广告</cite>
                        </a>
                    </dd>

                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe614;</i><cite>系统设置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('system/index')}">
                            <cite>系统设置</cite>
                        </a>
                    </dd>

                </dl>
            </li>
            <li class="layui-nav-item" style="height: 30px; text-align: center">
            </li>
        </ul>
    </div>

</div>