{include file='public/header' /}
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>信息流营销</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <form class="layui-form x-center" action="" style="width:50%">
                <div class="layui-form-pane" style="margin-top: 15px;">
                  <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px">所属分类</label>
                    <div class="layui-input-inline" style="width:120px;text-align: left">
                        <select name="uid">
                            <option value="0">顶级分类</option>

                            {volist name='cate' id='vo'}
                            <option value="{$vo.pid}">{$vo.cate_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width:120px">
                        <input type="text" name="cate_name"  placeholder="分类名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="width:80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="add"><i class="layui-icon">&#xe608;</i>增加</button>
                    </div>
                  </div>
                </div> 
            </form>
            <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button><span class="x-right" style="line-height:40px">共有数据：{$count} 条</span></xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <!--<input type="checkbox" name="" value="">-->
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            排序
                        </th>
                        <th>
                            分类名称
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="x-link">

                {volist name='cate_list' id='vo'   empty='暂时没有数据'}
                    <tr>
                        <td>
                            <input type="checkbox" value="{$vo.pid}" name="check[]">
                        </td>
                        <td>
                            {$vo.pid}
                        </td>
                        <td>
                            {$vo.cate_order}
                        </td>
                        <td>
                            {$vo.cate_name}
                        </td>
                        <td class="td-manage">
                            <a title="编辑" href="javascript:;" onclick="cate_edit('编辑分类','{:url("edit")}'+'?pid='+{$vo.pid},'4','','510')"
                            class="ml-5" style="text-decoration:none">
                                <i class="layui-icon">&#xe642;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick="cate_del(this,'{$vo.pid}')"
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                {/volist}
                </tbody>
            </table>

            <div style="text-align: center">{$cate_list->render()}</div>
        </div>
        {include file='public/base_js' /}
        <script>
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              layer = layui.layer;//弹出层
              form = layui.form();

              //监听提交添加按钮
              form.on('submit(add)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                  $.post("{:url('create')}",data.field,function (res) {
                      if (res.status == 1){
                          layer.alert(res.message, {icon: 6});
//                          $('#x-link').prepend('<tr><td><input type="checkbox"value="1"name=""></td><td>res.id</td><td>res.cate_order</td><td>res.cate_name</td><td class="td-manage"><a title="编辑"href="javascript:;"onclick="cate_edit(\'编辑\',\'cate-edit.html\',\'4\',\'\',\'510\')"class="ml-5"style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a><a title="删除"href="javascript:;"onclick="cate_del(this,\'1\')"style="text-decoration:none"><i class="layui-icon">&#xe640;</i></a></td></tr>');

                          setTimeout(function () {
                              window.location.replace(location.href);
                          },2000);


                      }else {
                          layer.alert(res.message, {icon: 6});
                      }
                  });
                return false;
              });


            })



              
            //批量删除提交
             function delAll () {
                layer.confirm('确认要删除吗？',function(index){
                    //捉到所有被选中的，发异步进行删除
                    layer.msg('删除成功', {icon: 1});
                });
             }

             //-编辑
            function cate_edit (title,url,pid,w,h) {
                x_admin_show(title,url,w,h);
            }
           
            /*-删除*/
            function cate_del(obj,pid){
                layer.confirm('确认要删除吗？',function(index){
                    //发异步删除数据
                    $.get("{:url('delete')}",{pid:pid});

                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                });
            }
            </script>

    </body>
</html>