﻿@charset "utf-8";
/*css reset*/
body,div,dl,dt,dd,ul,ol,li,lo,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img {margin:0; padding:0;}
table {border-collapse:collapse; border-spacing:0px;}
fieldset,img {border:none;vertical-align:bottom;}
adress,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;}
dl,ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
q:before,q:after {content:"";}
abbr,acronym {border:0;}
input,button,select,textarea,a{ outline:none;} 
html,body {font:12px/1.6em "微软雅黑",Verdana, Geneva, sans-serif, simsun;color:#333; font-size:12px;}
a{font-size:12px;color:#008cd6;text-decoration:none;}
a:hover {text-decoration:none;}
/*oo-css*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto; margin-right:auto;}
.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-rightright{position:absolute; right:0;}
.hidden{visibility:hidden}
.none{display:none;}
.clear,.zoom{*zoom:1}
.clear:after{clear:both;content:"";display:block;visibility:hidden;height:0;}
.clearfix,.zoom{*zoom:1}
.clearfix:after{clear:both;content:"";display:block;visibility:hidden;height:0;}
.text_hide{ text-indent:-9000em;}

.ft16{font-size:16px;}

.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt13{ margin-top:13px;}
.mt14{ margin-top:14px;}
.mt15{ margin-top:15px;}
.mt17{ margin-top:17px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
.ml-1{ margin-left:-1px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml11{ margin-left:11px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.mr10{ margin-right:10px;}
.pb30{ padding-bottom:30px;}
.w104{ width:104px;}
.w215{ width:215px;}
.w370{ width:370px;}
.w320{ width:320px;}
/*返回顶部*/
#backToTop{ display:block; width:36px; height:36px; background:url(../images/backToTop.png); position:fixed; _position:absolute; right:20px; bottom:20px; text-indent:-9000em; top:expression(offsetParent.scrollTop + offsetParent.clientHeight-offsetHeight - 20); z-index:9999;}
#backToTop_swt{ display:block; width:36px; height:36px; background:url(../images/backToTop.png); position:absolute; right:10px; top:-48px; text-indent:-9000em; z-index:9999;}
#backToTop:hover,#backToTop_swt:hover{ background-position:-36px 0;}
* html{background:url(about:black) no-repeat fixed}
/*弹出层*/
.tcc{ display:none;}
.tcc_border{ background:#000; position:relative; opacity:.3; filter:alpha(opacity=30);}
.tcc_cont{ background:#fff; position:relative;}
.tcc_close{ width:16px; height:15px; overflow:hidden; background:url(../images/tcc.gif); text-indent:-9000em; position:absolute; top:10px; right:15px; cursor:pointer;}
.tcc_active{ background:url(../images/tcc.gif) -16px 0;}
/*弹出层-登录*/
.tcc_login .tit{margin:0 15px; padding-top:10px; font:14px/28px "microsoft yahei"; color:#2375c1; border-bottom:1px solid #d6d6d6;}
.tcc_login .btm{ width:100%; height:68px; border-top:1px solid #e3e3e3; background:#fafafa; position:absolute; left:0; bottom:0;}
.tcc_login .btm .left{ width:280px; text-align:right;}
.tcc_login .btm .p1{ font:14px/28px "microsoft yahei"; color:#efb400; letter-spacing:0;}
.tcc_login .btm .p2{ color:#666; margin-right:4px;}
.tcc_login .btn_reg{ display:block; width:157px; height:40px; background:url(../images/tcc_login.png) 0 -40px; text-indent:-9000em;}
.tcc_login .btn_login{ display:block; width:157px; height:40px; background:url(../images/tcc_login.png); text-indent:-9000em; border:0; margin-left:55px; margin-top:5px; cursor:pointer;}
.tcc_login .f_login{ width:365px; height:161px; border-bottom:1px dashed #bbb; color:#999; margin-top:7px;}
.tcc_login .f_login .p1{ font:14px "microsoft yahei"; text-align:right;}
.tcc_login .f_login .a1{ width:206px; height:22px; line-height:22px; border:1px solid #ccc; padding-left:4px}
.tcc_login .f_login .a2{ vertical-align:-2px;}
.tcc_login .f_login .p2{ letter-spacing:0;}
.tcc_login .f_login .p3{ color:#999; text-decoration:underline; margin-left:60px;}
.tcc_login .f_login .p3:hover{ color:#008cd6;}
.tcc_login .p4{ margin-left:60px; font:14px/25px "microsoft yahei"; color:#999; float:left; _display:inline;}
.tcc_login .olg_btn{ display:block; float:left; width:120px; height:25px; background:url(../images/tcc_login.png); text-indent:-9000em;}
.tcc_login .olg_tx{ background-position:0 -80px;}
.tcc_login .olg_wb{ background-position:0 -105px;}
/*弹出层-产品页促销*/
.tcc_pro_cx .tcc_cont{ background:url(../images/form/form_bg01.gif)}
.tcc_pro_cx .banner_sem{ width:660px; height:252px; background:url(../images/form/form_sem01.jpg);}
.tcc_pro_cx .banner_yd{ width:660px; height:252px; background:url(../images/form/form_yd01.jpg);}
.tcc_pro_cx .banner_smm{ width:660px; height:252px; background:url(../images/form/form_smm01.jpg);}
.tcc_pro_cx .tit{ font:bold 14px/20px simsun; color:#3f3f3f; letter-spacing:1px; padding:10px 0 0 34px;}
.tcc_pro_cx .form{ width:510px; margin-left:150px;}
.tcc_pro_cx .form_li{ height:50px; background:url(../images/form/form_bg02.jpg) left top no-repeat; margin-top:6px;}
.tcc_pro_cx .form_li2{ height:50px; background:url(../images/form/form_bg03.png) left top no-repeat; margin-top:6px;}
.tcc_pro_cx .form_li2 img{ margin:14px 0 0 12px; cursor:pointer; float:left;}
.tcc_pro_cx .form_li2 a{ display:block; margin:20px 7px 0 10px; float:left; text-decoration:none;}
.tcc_pro_cx .form_li2 a:hover{ text-decoration:underline;}
.tcc_pro_cx .tit2{ width:80px; height:50px; text-indent:20px; font:12px/50px simsun;}
.tcc_pro_cx .cont{ width:256px; height:27px; margin-top:11px; font:12px/27px simsun; color:#666; border:0; padding-left:5px}
.tcc_pro_cx .point{ height:50px; text-indent:20px; font:12px/50px simsun; color:#a60101;}
.tcc_pro_cx .submit{ width:152px; height:62px; background:url(../images/form/form_btn01.png); margin:20px 0 0 100px; border:0; cursor:pointer;}
.tcc_pro_cx .under{ width:417px; height:50px;}
.tcc_pro_cx .priv{ height:20px; color:#333; display:block; position:absolute; bottom:12px; right:20px;}
.tcc_pro_cx .priv:hover{ color:#008cd6; text-decoration:underline;}
.tcc_pro_cx .cont2{ width:261px; margin-top:15px; color:#666; }
.tcc_pro_cx label{ margin-left:10px; *margin-left:6px;}
.tcc_pro_cx .cbox{ vertical-align:-2px;}
/*弹出层-获取案例*/
.tcc_cases .tcc_cont{ background:url(../images/form/form_bg01.gif)}
.tcc_cases .banner_cases{ width:660px; height:252px; background:url(../images/form/form_cases01.jpg);}
.tcc_cases .tit{ font:bold 14px/20px simsun; color:#3f3f3f; letter-spacing:1px; padding:10px 0 0 34px;}
.tcc_cases .form{ width:510px; margin-left:150px;}
.tcc_cases .form_li{ height:50px; background:url(../images/form/form_bg02.jpg) left top no-repeat; margin-top:6px;}
.tcc_cases .form_li2{ height:50px; background:url(../images/form/form_bg03.png) left top no-repeat; margin-top:6px;}
.tcc_cases .form_li2 img{ margin:14px 0 0 12px; cursor:pointer; float:left;}
.tcc_cases .form_li2 a{ display:block; margin:20px 7px 0 10px; float:left; text-decoration:none;}
.tcc_cases .form_li2 a:hover{ text-decoration:underline;}
.tcc_cases .tit2{ width:80px; height:50px; text-indent:20px; font:12px/50px simsun;}
.tcc_cases .cont{ width:256px; height:27px; margin-top:11px; font:12px/27px simsun; color:#666; border:0; padding-left:5px}
.tcc_cases .point{ height:50px; text-indent:20px; font:12px/50px simsun; color:#a60101;}
.tcc_cases .submit{ width:152px; height:62px; background:url(../images/form/form_btn01.png); margin:20px 0 0 100px; border:0; cursor:pointer;}
.tcc_cases .under{ width:417px; height:50px;}
.tcc_cases .priv{ height:20px; color:#333; display:block; position:absolute; bottom:12px; right:20px;}
.tcc_cases .priv:hover{ color:#008cd6; text-decoration:underline;}
/*弹出层-参加会议*/
.tcc_conf .tcc_cont{ background:url(../images/form/form_bg01.gif)}
.tcc_conf .banner_conf{ width:660px; height:265px; background:url(../images/form/form_conf01.jpg);}
.tcc_conf .tit{ font:bold 14px/20px simsun; color:#3f3f3f; letter-spacing:1px; padding:10px 0 0 34px;}
.tcc_conf .form{ width:510px; margin-left:150px;}
.tcc_conf .form_li{ height:50px; background:url(../images/form/form_bg02.jpg) left top no-repeat; margin-top:6px;}
.tcc_conf .form_li2{ height:50px; background:url(../images/form/form_bg03.png) left top no-repeat; margin-top:6px;}
.tcc_conf .form_li2 img{ margin:14px 0 0 12px; cursor:pointer; float:left;}
.tcc_conf .form_li2 a{ display:block; margin:20px 7px 0 10px; float:left; text-decoration:none;}
.tcc_conf .form_li2 a:hover{ text-decoration:underline;}
.tcc_conf .tit2{ width:80px; height:50px; text-indent:20px; font:12px/50px simsun;}
.tcc_conf .cont{ width:256px; height:27px; margin-top:11px; font:12px/27px simsun; color:#666; border:0; padding-left:5px}
.tcc_conf .point{ height:50px; text-indent:20px; font:12px/50px simsun; color:#a60101;}
.tcc_conf .submit{ width:152px; height:62px; background:url(../images/form/form_btn01.png); margin:20px 0 0 100px; border:0; cursor:pointer;}
.tcc_conf .under{ margin-left:203px; color:#666; position:relative;}
.tcc_conf .zy{ position:absolute; top:-1px; left:-34px;}
.tcc_conf .priv{ height:20px; color:#333; display:block; position:absolute; bottom:12px; right:20px;}
.tcc_conf .priv:hover{ color:#008cd6; text-decoration:underline;}
/*弹出层-预约专家*/
.tcc_exp .tcc_cont{ background:url(../images/form/form_bg01.gif)}
.tcc_exp .banner_exp{ width:660px; height:280px; background:url(../images/form/form_exp01.jpg);}
.tcc_exp .tit{ font:bold 14px/20px simsun; color:#3f3f3f; letter-spacing:1px; padding:10px 0 0 30px;}
.tcc_exp .form{ width:510px; margin-left:150px;}
.tcc_exp .form_li{ height:50px; background:url(../images/form/form_bg02.jpg) left top no-repeat; margin-top:6px;}
.tcc_exp .form_li2{ height:50px; background:url(../images/form/form_bg03.jpg) left top no-repeat; margin-top:6px; position:relative;}
.tcc_exp .form_li3{ height:50px; background:url(../images/form/form_bg03.png) left top no-repeat; margin-top:6px;}
.tcc_exp .form_li3 img{ margin:14px 0 0 12px; cursor:pointer; float:left;}
.tcc_exp .form_li3 a{ display:block; margin:20px 7px 0 10px; float:left; text-decoration:none;}
.tcc_exp .form_li3 a:hover{ text-decoration:underline;}
.tcc_exp .tit2{ width:80px; height:50px; text-indent:20px; font:12px/50px simsun;}
.tcc_exp .cont{ width:256px; height:27px; margin-top:11px; font:12px/27px simsun; background:none; color:#666; border:0; padding-left:5px;}
.tcc_exp .xq_text{ cursor:pointer;}
.tcc_exp .xq_list{display:none; width:254px; color:#666; z-index:99; position:absolute; top:38px; left:78px; border:#ddd 1px solid; text-indent:5px; background:#fff}
.tcc_exp .xq_list li{ cursor:default;}
.tcc_exp .xq_list li:hover{ background:#eee;}
.tcc_exp .point{ height:50px; text-indent:20px; font:12px/50px simsun; color:#a60101;}
.tcc_exp .submit{ width:152px; height:62px; background:url(../images/form/form_btn01.png); margin:20px 0 0 100px; border:0; cursor:pointer;}
.tcc_exp .zy{ position:absolute; top:-1px; left:-34px;}
.tcc_exp .priv{ height:20px; color:#333; display:block; position:absolute; bottom:12px; right:20px;}
.tcc_exp .priv:hover{ color:#008cd6; text-decoration:underline;}
/*产品-面包屑*/
.pro_crumb_nav{ width:980px; height:35px; line-height:35px; color:#848484; letter-spacing:0; font-family:simsun;}
.pro_crumb_nav a{ color:#999; font-family:Verdana, Geneva, sans-serif simsun;}
.pro_crumb_nav a:hover{ color:#008cd6;}
.pro_crumb_nav strong a{ color:#333; font-weight:normal;}
/*公用-面包屑*/
.crumb_nav{ width:980px; height:14px; line-height:14px; color:#848484; letter-spacing:0; font-family:simsun;}
.crumb_nav a{ color:#999; font-family:Verdana, Geneva, sans-serif simsun;}
.crumb_nav a:hover{ color:#008cd6;}
.crumb_nav strong a{ color:#333; font-weight:normal;}
/*公用-底部*/
#bottom{ font-family:Verdana,arial,sans-serif; padding:25px 0 15px; text-align:center; color:#999;margin-bottom:30px;}
#bottom a{ color:#999;}
#bottom a:hover{ color:#008cd6;}
#bottom span{ margin:0 5px;}
.b_about{ margin-bottom:10px;}
.bottom_po{  background:#000; position: fixed; bottom:0; left:0; opacity:0.8;filter:alpha(opacity=80); -moz-opacity:0.8;-khtml-opacity:0.8;width:100%;  _position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}
.bottom_po a{height:55px; background:url(../products_images/sogou/sogou_bottom.png) center 0 no-repeat; display:block; }

/*公用-合作伙伴*/
#partners{ width:980px; position:relative;}
.partners_tit{ text-align:center;}
.partners_box{position:relative;width:852px;height:50px;overflow:hidden; margin:15px auto 0 auto;}
.partners_list { position:absolute;left:0px;top:0px; width:999em;}
.partners_list li{ float:left;width:852px;}
.partners_list li a{*display:inline; width:132px; height:48px; float:left; border:1px solid #e8e8e8; background-image:url(../images/partners_logo.png); text-indent:-9000em; margin:0 4px;}
.partners_soso { background-position:0 -48px;}
.partners_tencent { background-position:0 -96px;}
.partners_sogou { background-position:0 -144px;}
.partners_baidu { background-position:0 -192px;}
.partners_sina { background-position:0 -240px;}
.partners_admob{ background-position:0 -288px;}
.partners_Inmobi{ background-position:0 -336px;}
.partners_tapjoy{ background-position:0 -384px;}
.partners_sinawb{ background-position:0 -432px;}
.partners_facebook{ background-position:0 -480px;}
.partners_twitter{ background-position:0 -528px;}
.partners_momo{ background-position:0 -575px;}

.partners_bing{ background-position:0 -620px;}
.partners_shhs{ background-position:0 -663px;}
.partners_ydzx{ background-position:0 -700px;}
.partners_sm{ background-position:0 -750px;}
.partners_tt{ background-position:0 -810px;}
.partners_rs{ background-position:0 -870px;}
.partners_zaker{ background-position:0 -918px;}
.partners_pzhd{ background-position:0 -968px;}
.partners_youtube{ background-position:0 -1021px;}

/*公用-横线*/
.n_line{border-top:1px solid #e8e8e8; border-bottom:1px solid #fff; height:0; overflow:hidden;}
/*分页按钮*/
.h_page_outer{position:relative; left:50%; float:left;}
.h_page{position: relative; left:-50%; zoom:1; float:left;}
.h_page li{ width:18px; height:20px; text-align:center; font-family:Verdana, Geneva, sans-serif; float:left; margin-right:1px; letter-spacing:-1px; }
.h_page li a{ display:block; width:18px; height:20px; color:#808080; text-align:center;}
.h_page li a:hover{ color:#008cd6; font-weight:bold;}
.h_page .next a,.h_page .prev a,.h_page .next,.h_page .prev{ font-family:simsun;}
.h_page .current{ color:#008cd6; font-weight:bold; cursor:default;}
.h_page .disable{ color:#aaa; cursor:default;}
/*商务通*/
#newswt{white-space:nowrap; width:130px; position:fixed; top:120px; right:0; overflow:hidden; display:none; z-index:1000;}
#newswt_mini{ width:0; height:181px; position:fixed; top:15%; right:0; background:url(../images/newSwt.png) -149px 0; cursor:pointer; z-index:1000;}
* html #newswt,* html #newswt_mini{ position:absolute; top:expression(offsetParent.scrollTop + 80);}
.swt_top{ width:130px; height:26px; background:url(../images/newSwt.png);}
.newswt_close{ width:15px; height:15px; background:url(../images/newSwt.png) -125px -165px; overflow:hidden; margin:3px 2px 0 0; float:right;}
.newswt_close:hover{ background-position:-125px -180px;}
.swt_mian{ width:120px; padding:10px 0 10px 10px; background:#f9f9f9; border-left:1px solid #dbdbdb;}
.swt_bottom{ width:130px; height:86px; background:url(../images/newSwt.png) 0 -79px;}
.swt_tit{ width:110px; height:19px; *height:20px; _height:19px; background:url(../images/newSwt.png) 0 -165px; font:12px/18px Verdana, simsun; font-weight:bold;color:#fff; text-indent:10px; cursor:pointer; overflow:hidden; margin:0; padding:0;}
.swt_tit.swt_current_t{ background-position:0 -184px;}
.swt_cont{ padding-bottom:5px;}
.swt_h{ display:none;}
.swt_link{ display:block; font-size:12px; width:110px; height:20px; margin-top:5px; line-height:20px; color:#262626; background:url(../images/newSwt.png) -174px -205px no-repeat; text-indent:20px;}
.swt_link:hover{ background-color:#e5e5e5; color:inherit; text-decoration:none;}
.swt_link.down_l{ background-position:-174px -235px;}
.swt_qq{ display:block; width:20px; height:20px; margin-top:-20px; margin-left:90px; background:url(../images/newSwt.png) 3px -207px no-repeat; }
.swt_qq:hover{ box-shadow:0 0 4px #444; border-radius:10px;}
.swt_qq.down_q{ background-position:3px -237px}
