@charset "utf-8";
/*首页-头部*/
#top_top{ height:31px; border-bottom:1px solid #e8e8e8; background:#f5f5f5; line-height:31px; color:#999;}
.top_top_main{ width:980px;}
.top_top_left span{ margin:0 6px;}
.top_top_left a{ color:#999;}
.top_top_left a:hover{ color:#008cd6;}
.top_top_left strong a{ font-weight:bold; color:#008cd6;}
.top_top_right a{ margin-left:7px; color:#008cd6;}
.top_top_right a:hover{ text-decoration:underline;}
#top_main{ width:980px; height:56px; overflow:hidden;}
.ttwb{float:left;width:80px; cursor:default;}
.ttwb a{ background:url(../images/index_header_icon.png) no-repeat; height:20px; width:20px;  float:left;margin-top:5px; cursor:pointer;}
.ttwb .ttweibo{ margin-left:20px;}
.ttwb .ttweixun{ background-position:-22px 0;margin-left:10px; position:relative;z-index:999;}
.ttwb .ttweibo:hover{ background-position:0 -20px;}
.ttwb .ttweixun:hover{ background-position:-22px -20px;}
.ttweixun_2wm{ width:230px; height:155px;background:url(../images/header_2wm.png) no-repeat;  position:absolute; top:20px; left:-110px; display:none}
/*首页-头部-导航条*/
#nav{ width:100%; height:44px;background:url(../images/nav_bg.png) repeat-x;  border-top:1px solid #ddd;}
.nav_box{ width:968px;margin:0 auto; height:38px; padding-left:10px; border-bottom:0;}
.nav_box li{ *display:inline;}
.nav_bottom{ width:100%; height:5px; line-height:5px; background:url(../images/nav_bg.png) 0 -38px repeat-x; overflow:hidden;}
.nav_btn a{ display:inline-block; *display:inline; *zoom:1; float:left; color:#666; height:37px; font:14px/37px "microsoft yahei"; padding:1px 10px; margin-top:-1px; letter-spacing:0; white-space:nowrap;}
.nav_btn a:hover{ color:#fff; background:url(../images/nav_btn_bg.png) repeat-x; border:1px solid #008cd6;padding:0 9px;}
.nav_active a{ display:inline-block; float:left; font:14px/37px "microsoft yahei"; color:#fff; height:37px; margin-top:-1px; letter-spacing:0; background:url(../images/nav_btn_bg.png) repeat-x; border:1px solid #008cd6; padding:0 9px;}/*导航条记忆样式*/
.nav_strong_btn a{ color:#008cd6;}
.nav_break{ width:2px; height:25px; background:url(../images/nav_break.png); margin:0 6px; float:left; margin-top:7px;}
/*首页-主体*/
#main{ width:980px; position:relative;}
/*主页-宽幅banner*/
.home_banner01{ width:980px; height:130px; overflow:hidden;}
/*主页-边栏01*/
#home_sidebar01{ width:225px; _display:inline;}
/*主页-边栏01-导航*/
.home_sidebar01_nav01 a{ display:block; _display:inline; width:225px; float:left; height:44px; overflow:hidden; background:url(../images/home_sidebar01_nav_bg01.png); font:bold 14px/44px "microsoft yahei"; color:#666; position:relative; text-align:center;}
.home_sidebar01_nav01 a:hover,
.home_sidebar01_nav01 .active,
.home_sidebar01_nav01 .select
{ background-position:0 -44px; color:#fff;}
.home_sidebar01_nav01 .active a{ background-position:0 -44px; color:#fff;}
.h_sb_frame01{ border:1px solid #e5f2fa; _width:203px; overflow:hidden;}
.h_sb_frame01 .h_sb_tit{font:bold 14px/38px simsun; color:#069;}
.h_sb_frame01 .h_sb_tit:hover{ text-decoration:underline;}
.home_sidebar01_nav01 ul{ width:223px; border:1px solid #f5f5f5; border-top:none; background:#f8f8f8; overflow:hidden; padding-bottom:6px; float:left; display:none;}
.home_sidebar01_nav01 ul a{ display:block; _display:inline; width:198px; height:25px; margin:4px 0 0 12px; font:14px/25px microsoft yahei; background:none; border-bottom:1px dotted #dbdbdb; color:#333 !important;}
.home_sidebar01_nav01 ul a:hover,
.home_sidebar01_nav01 ul .selected
{ background:url(../images/home_sidebar01_nav_bg01.png) 0 -44px repeat-x; border:none; padding-bottom:1px; color:#fff !important;}
/*主页-边栏01-菜单*/
.h_sb_menu01{ padding:2px 9px; letter-spacing:0;}
.h_sb_menu01 li{ width:144px; height:77px; border-bottom:1px dotted #ddd; zoom:1; padding-left:61px; background-image:url(../images/home_sidebar01_nav_ico01.png); background-repeat:no-repeat; overflow:hidden;}
.h_sb_menu01 h3 a{ font:14px/20px "microsoft yahei"; color:#008cd6; margin-top:8px; display:block;}
.h_sb_menu01 h3 a:hover{ text-decoration:underline;}
.h_sb_menu01 p{ margin-top:5px; line-height:18px; color:#666;}
.h_sb_menu01 .n1{ background-position:12px 0;}
.h_sb_menu01 .n2{ background-position:12px -82px;}
.h_sb_menu01 .n3{ background-position:12px -159px;}
.h_sb_menu01 .n4{ background-position:12px -236px;}
.h_sb_menu01 .n5{ background-position:12px -313px;}
.h_sb_menu01 .n6{ background-position:12px -390px;}
/*主页-边栏01-专家观点*/
.h_sb_exp01{ padding:0 9px 10px 9px; letter-spacing:0; _width:205px;}
.h_sb_exp01 h2{ font:bold 14px/38px simsun; color:#069;}
.h_sb_exp01 .top{ position:relative; width:125px; padding-left:80px;height:86px; border-bottom:1px dotted #ddd; zoom:1;}
.h_sb_exp01 .head{ display:block; width:70px; height:70px; overflow:hidden; position:absolute; top:0; left:0;}
.h_sb_exp01 .name a{ letter-spacing:0; color:#008cd6; line-height:14px; white-space:nowrap;}
.h_sb_exp01 .name a:hover{ text-decoration:underline;}
.h_sb_exp01 .exp_star{ width:85px; height:16px; overflow:hidden; background-image:url(../tdmrc_images/exp_star.png); background-position:-85px 0; margin-top:1px;}
.h_sb_exp01 .exp_star.lvl1{ background-position:-68px 0;}
.h_sb_exp01 .exp_star.lvl2{ background-position:-51px 0;}
.h_sb_exp01 .exp_star.lvl3{ background-position:-34px 0;}
.h_sb_exp01 .exp_star.lvl4{ background-position:-17px 0;}
.h_sb_exp01 .exp_star.lvl5{ background-position:0 0;}
.h_sb_exp01 .exp_rank{ letter-spacing:0; color:#999; line-height:16px; padding:2px 3px 0 0;}
.h_sb_exp01 .add{ width:63px; height:14px; overflow:hidden; text-indent:-9000em; background:url(../images/home_sidebar01_exp_ico01.png); margin-right:5px; float:left; border:0; cursor:pointer;}
.h_sb_exp01 .add:hover{ background-position:0 -14px;}
.h_sb_exp01 .que{ width:42px; height:14px; background:url(../images/home_sidebar01_exp_ico01.png) -63px 0 no-repeat;   float:left;line-height:14px; overflow:hidden; text-indent:-9000em;}
.h_sb_exp01 .que:hover{ background-position:-63px -14px;}
.h_sb_exp01 h3 a{ font:14px/18px simsun; color:#008cd6;}
.h_sb_exp01 h3 a:hover{ text-decoration:underline;}
.h_sb_exp01 .p1{ line-height:18px; margin-top:8px;}
.h_sb_exp01 .view:hover{ text-decoration:underline;}
/*主页-边栏01-客户案例*/
.h_sb_cases{ letter-spacing:0; position:relative; padding-bottom:10px;}
.h_sb_cases h2{ font:bold 14px/38px simsun; color:#069; margin-left:9px;}
.h_sb_cases .btn{ width:14px; height:21px; position:absolute; top:110px; background: url(../images/home_sidebar01_case_btn.png); cursor:pointer;}
.h_sb_cases .prev{ left:1px;}
.h_sb_cases .prev:hover{ background-position:0 -21px;}
.h_sb_cases .next{ right:1px; background-position:-14px 0;}
.h_sb_cases .next:hover{ background-position:-14px -21px;}
.h_sb_cases .mask{ width:190px; height:195px; overflow:hidden; position:relative; margin-left:14px;}
.h_sb_cases .inner{ position:absolute; top:0; left:0;}
.h_sb_cases .list{ width:190px; height:195px; float:left;}
.h_sb_cases .list img{ width:90px; height:60px; float:left; }
.h_sb_cases .list li{ float:left; margin:0 0 5px 5px; _display:inline;}
/*主页-边栏01-热点知识*/
.h_sb_knowledge { letter-spacing:0; position:relative; padding-bottom:10px; }
.h_sb_knowledge h2{ font:bold 14px/38px simsun; color:#069; margin-left:9px;}
.h_sb_knowledge .list{ padding:0 9px; margin-top:-5px;}
.h_sb_knowledge .list li{ font:12px/24px simsun; letter-spacing:0; background:url(../images/home_ico01.gif) 0 10px no-repeat; padding-left:8px;}
.h_sb_knowledge a{ white-space:nowrap;}
.h_sb_knowledge a:hover{ text-decoration:underline;}
/*主页-边栏01-推荐专家*/
.h_sb_exp02{ padding:0 9px; letter-spacing:0;}
.h_sb_exp02 h2{ font:bold 14px/38px simsun; color:#069;}
.h_sb_exp02 .cont{ position:relative; width:125px; padding-left:80px;height:88px;}
.h_sb_exp02 .head{ display:block; width:70px; height:70px; overflow:hidden; position:absolute; top:0; left:0;}
.h_sb_exp02 .name a{ letter-spacing:0; color:#008cd6; line-height:14px; white-space:nowrap;}
.h_sb_exp02 .name a:hover{ text-decoration:underline;}
.h_sb_exp02 .exp_star{ width:85px; height:16px; overflow:hidden; background-image:url(../tdmrc_images/exp_star.png); background-position:-85px 0; margin-top:1px;}
.h_sb_exp02 .exp_star.lvl1{ background-position:-68px 0;}
.h_sb_exp02 .exp_star.lvl2{ background-position:-51px 0;}
.h_sb_exp02 .exp_star.lvl3{ background-position:-34px 0;}
.h_sb_exp02 .exp_star.lvl4{ background-position:-17px 0;}
.h_sb_exp02 .exp_star.lvl5{ background-position:0 0;}
.h_sb_exp02 .exp_rank{ letter-spacing:0; color:#999; line-height:16px; padding:2px 3px 0 0;}
.h_sb_exp02 .add{ width:63px; height:14px; overflow:hidden; text-indent:-9000em; background:url(../images/home_sidebar01_exp_ico01.png); margin-right:5px; float:left; border:0; cursor:pointer;}
.h_sb_exp02 .add:hover{ background-position:0 -14px;}
.h_sb_exp02 .que{ width:42px; height:14px; background:url(../images/home_sidebar01_exp_ico01.png) -63px 0 no-repeat; float:left; line-height:14px; overflow:hidden; text-indent:-9000em;}
.h_sb_exp02 .que:hover{ background-position:-63px -14px;}
.h_sb_exp02 .bom_btn{ display:block; width:203px; height:33px; font:14px/33px simsun; text-align:center; color:#666; border:1px solid #ddd; background:url(../images/home_btn01.png) repeat-x; margin-bottom:12px; _float:left;}
.h_sb_exp02 .bom_btn:hover{ background-position:0 -33px; color:#fff; border:1px solid #0075c2;}
/*主页-边栏01-微博,app按钮*/
.h_sb_btns a{ display:block; width:110px; height:30px; background-image:url(../tdmrc_images/tdmrc_app_btn.png); text-indent:-9000em; float:left;}
.h_sb_btns .btn02 a{ background-position:-110px 0;}
/*主页-边栏01-用户信息*/
.h_sb_user_infor{ width:144px; height:180px; padding:10px 9px 12px 70px; overflow:hidden; position:relative; line-height:20px;}
.h_sb_user_infor .lvl img{ margin-right:3px; vertical-align:-2px;}
.h_sb_user_infor .h_pic{ width:50px; height:50px; position:absolute; top:13px; left:10px;}
.h_sb_user_infor .h_pic img{ width:50px; height:50px;}
.h_sb_user_infor .name{ font:bold 14px/24px simsun; height:24px; margin-top:-4px; color:#008cd6; letter-spacing:0;}
.h_sb_user_infor .p1{color:#008cd6;}
.h_sb_user_infor .p1:hover{text-decoration:underline;}
.h_sb_user_infor .bom_btn{ display:block; width:203px; height:33px; font:14px/33px simsun; text-align:center; color:#666; border:1px solid #ddd; background:url(../images/home_btn01.png) repeat-x; margin-top:8px; margin-left:-61px;}
.h_sb_user_infor .bom_btn:hover{ background-position:0 -33px; color:#fff; border:1px solid #0075c2;}
.h_sb_user_infor .name_yk{ font:bold 14px/24px simsun; height:24px; margin-top:-1px; color:#008cd6; letter-spacing:0;}
.h_sb_user_infor .wel{ font:12px/26px simsun;}
.h_sb_user_infor .btn_yk{ display:block; width:185px; height:33px; font:14px/33px simsun; text-align:center; color:#fff; border:1px solid #0075c2; background:url(../images/home_btn01.png) 0 -33px; repeat-x; margin-top:20px; margin-left:-61px;}
.h_sb_user_infor .log_yk{ width:210px; margin-left:-60px;}
.h_sb_user_infor .log_yk a:hover{ text-decoration:underline;}
.h_sb_user_infor .other_login{ letter-spacing:0; margin-top:8px; text-align:center; color:#666; font-family:"microsoft yahei"; width:210px; margin-left:-100px;}
.h_sb_user_infor .other_login img{ vertical-align:-3px; margin-left:8px; margin-right:2px;}
.h_sb_user_infor .other_login a{ color:#666;}
.h_sb_user_infor .other_login a:hover{ color:#008cd6;}
/*主页-主体01-*/
#h_m01{ width:745px; background:#f8f8f8;}
.h_m01_tit{ margin:18px 0 0 20px;}
.h_m01_tit .ico{ width:3px; height:15px; background:#008cd6; overflow:hidden; margin-top:3px; float:left;}
.h_m01_tit h2{ font:16px/20px "microsoft yahei"; color:#808080; margin:0 6px;}
.h_m01_tit p{ font:14px/20px Verdana, Arial, sans-serif; letter-spacing:0; color:#00a3e3;}
.n_line{ width:100%; height:0; overflow:hidden; border-top:1px solid #e5e5e5; border-bottom:1px solid #fff;}
/*主页-主体02-*/
#h_m02{ width:745px;}
.h_m02_tit{ width:100%; height:42px; background:url(../images/h_m02_tit_bg.png) repeat-x;}
.h_m02_tit h3{ width:260px; height:42px; background:url(../images/h_m02_tit01.png); text-indent:-9000em;}
/*主页-主体05-关于我们-联系我们*/
#h_m05{ width:730px; _display:inline; overflow:hidden;}
.h_m05_tit{ padding-bottom:10px; border-bottom:1px solid #e8e8e8;}
.h_m05_tit .ico{ width:3px; height:15px; background:#008cd6; overflow:hidden; margin-top:3px; float:left;}
.h_m05_tit h2{ font:16px/20px "microsoft yahei"; color:#808080; margin:0 6px; float:left;}
.h_m05_tit p{ font:14px/20px Verdana, Arial, sans-serif; letter-spacing:0; color:#00a3e3;}
/*主页-主体03-*/
#h_m03{ width:745px;}
.h_m03_box{ border:1px solid #ddd;}
/*分页按钮*/
.h_page_outer{position:relative; left:50%; float:left;}
.h_page{position: relative; left:-50%; zoom:1; float:left;}
.h_page a{ display: inline-block; *display:inline; *zoom:1; float:left; cursor:pointer;}
.h_page .btn{ background-image:url(../images/page_btns.png); width:20px; height:20px; background-repeat:no-repeat; overflow:hidden; text-indent:-9000em;}
.h_page .btn.first{ background-position:5px 6px;}
.h_page .btn.first:hover{ background-position:-15px 6px;}
.h_page .btn.pre{ background-position:7px -14px;}
.h_page .btn.pre:hover{ background-position:-13px -14px;}
.h_page .btn.last{ background-position:5px -34px;}
.h_page .btn.last:hover{ background-position:-15px -34px;}
.h_page .btn.next{ background-position:7px -54px;}
.h_page .btn.next:hover{ background-position:-13px -54px;}
.h_page .page_number{ color:#808080; height:14px; width:22px; font:12px/14px Verdana,Arial,sans-serif; margin-top:3px; text-align:center; border-left:1px solid #ccc;}
.h_page .page_number:hover{ color:#333; text-decoration:underline; }
.h_page .active{ color:#008cd6; font-weight:bold; }
.h_page .active:hover{ color:#008cd6; font-weight:bold; text-decoration:none;}



