@charset "utf-8";
/*联系我们*/
.contact_center { width:760px; margin-top:22px ; border-bottom:1px solid #e8e8e8;}
.contact_center_phone { width:100%; height:36px; font-size:24px; color:#0097ee; line-height:44px }
.contact_center_phone img { float:left }
.contact_center_left { width:235px;  float:left; margin:21px 43px 0 0; overflow:hidden; }
.contact_center_right { width:482px; height:245px; float:left; margin-top:21px; line-height:18px }
.contact_center_right strong { color:#0097ee; }
.contact_center_right .stb { color:#0097ee; font-weight:bold; margin-bottom:16px }
#contactGz { width:350px; float:left; padding-right:15px; display:inline; border-right:1px solid #e3e3e3 }
#contactSz { width:350px; float:left; margin-left:14px }
.contactInfo { line-height:23px; padding:20px 0; position:relative; width:100% }
.viewMap { position:absolute; right:10px; top:0 }
#contact_aa h2 { font-size:14px; font-weight:bold; color:#000; background-position:0 50%; background-repeat:no-repeat; height:33px; line-height:33px; padding-left:50px; margin-top:20px }
#contact_aa h2.search { background:url(../images/contact/iconSearch.gif) no-repeat }
#contact_aa h2.service { background:url(../images/contact/iconService.gif) no-repeat }
#contact_aa dt { color:#08c; font-weight:bold; height:20px; line-height:20px; margin-top:10px }
#contact_aa dd { width:100%; position:relative; padding:4px 0; color:#757575 }
#contact_aa dd strong { color:#000; font-weight:normal; display:block }
#contact_aa dd .evaluate { float:right; display:inline; padding:1px 0; font:12px/22px Verdana, simsun; border:1px solid #e1e1e1; width:85px; text-align:center; letter-spacing:0 }
.evaluateBox { width:348px; letter-spacing:0; font:12px/22px Verdana, simsun; position:absolute; display:none; right:0; top:0; background:#f6fbff; border:1px solid #e3f7ff; border-radius:3px;  z-index:100 }
.evaluateBox .staffPic { float:left; display:inline; margin:10px 10px 0 0 }
.evaluateBox .staffInfo { float:right; width:220px; display:inline }
.evaluateBoxBg { padding:10px 20px 20px 10px }
#contact_aa p { margin:8px 0 }
#contact_aa p a { color:#08c; text-decoration:underline }
#contact_aa .evaluateBox p { line-height:20px }
#contact_aa p a:hover { text-decoration:none }
/*在线咨询*/
.zj_list { background:url(../images/zx-bg.gif) center no-repeat; width:735px; height:156px; position:relative }
.zj_list #zj_prev, .zj_list #zj_next { position:absolute; top:50%; left:11px; display:block; width:24px; height:24px; background:url(../images/arrow.gif) left top }
.zj_list #zj_next { right:11px; left:auto; background:url(../images/arrowright.gif) left top }
.zj_list #run_warp { width:660px; height:120px; padding:30px 3px; margin:0 auto; position:relative; overflow:hidden }
.zj_list ul { width:3000px; position:absolute; list-style:none; top:35px; }
.zj_list li { width:330px; float:left }
.zj_list li img { float:left; padding:0 10px; height:90px }
.zj_list li p { line-height:150%; float:left }
#form_list { width:665px; margin:50px 35px }
#form_list .form_type { font-size:14px; color:#999; line-height:12px; margin-bottom:20px }
#form_list .label { font-size:14px; color:#000; width:100px; float:left; text-align:right; padding-right:10px }
#form_list input,#form_list select{ border:1px solid #ddd; height:24px; line-height:24px; padding-left:3px;}
#form_list .form_type input{ height:20px; line-height:20px; margin:0 4px 0 8px; vertical-align:-7px; _vertical-align:-2px; border:none;}
#form_list .form_type span{ margin-top:5px;}
#form_list .red_aaa{ color:red; margin-left:3px}
#form_ul, #form_ul ul, #form_ul li, #form_ul form { height:auto; overflow:hidden; margin:0; padding:0 }
#form_ul li { display:none }
#form_ul li li { display:block; margin:8px 0 }
#form_ul li li .input_text { width:280px }
#form_ul li li textarea { width:400px; height:100px; border:#ddd 1px solid;}
#form_ul .submit { border:0; background:url(../images/buttom.gif) no-repeat; width:104px; height:27px; cursor:pointer; margin-left:110px; }
/*常见咨询*/
.faq-list { margin-right:100px }
.faq-list li { padding:10px 0; border-bottom:1px dashed #bcbcbc; line-height:2 }
.faq-list li p { text-indent:2em }
.faq-list .question { color:#0b97ec }
.faq-list li .first-para { text-indent:0 }
/*银行账号*/
#bank{ width:780px;}
.bank_top{ width:780px; height:33px;}
.bank_top_title{ width:191px; height:22px;}
.bank_top_dotted{ width:760px; height:1px; border-top:1px dotted #CECECE;margin-top:9px;}
.bank_content{ width:628px;color:#595757;}
.bank_content_dl{ width:628px; }
.bank_content_dltitle{ width:616px; height:23px; background:#E9E9E9; font-weight:bold; color:#00A0E9; line-height:23px; padding-left:12px;margin-bottom:9px;}
.bank_content_dltxt{margin-left:12px;}
.bank_content_dl li{ line-height:24px; margin:0px 0 14px 0px; float:left;width:628px;}
.bank_content_dd{ width:628px; }
.bank_content_ddtitle{ float:left;width:616px; height:23px; background:#E9E9E9; font-weight:bold; color:#00A0E9; line-height:23px; padding-left:12px;margin-bottom:9px;}
.bank_content_ddtxt{margin-left:12px;}
.bank_content_dd li{ line-height:24px; margin:0px 0 12px 0px; float:left; width:628px;}
.bank_content_de{ width:628px; }
.bank_content_detitle{ width:616px; height:23px; background:#E9E9E9; font-weight:bold; color:#00A0E9; line-height:23px; padding-left:12px;margin-bottom:9px;}
.bank_content_detxt{margin-left:12px;}
.bank_content_de li{ line-height:24px; margin:0px 0 12px 0px; float:left;width:628px;}
.bank_content_di{ width:628px; height:262px;}
.bank_content_dititle{ width:616px; height:23px; background:#E9E9E9; font-weight:bold; color:#00A0E9; line-height:23px; padding-left:12px;margin-bottom:9px;}
.bank_content_dl_tit{ font-weight:bold; color:#00A0E9; line-height:30px;}
.bank_content_dl_tit span{ color:#cc9900;}
.bank_content_ditxt{margin-left:12px;}
.bank_content_di li{ line-height:24px; margin:0px 20px 12px 0px; float:left;width:285px;}
.bank_bottom{ width:628px; height:215px;}
.bank_bottom_solid{ width:628px; height:1px; background:#B5B5B6;}
.bank_bottom_txt{ color:#595757; line-height:24px; margin-top:15px; margin-left:12px;}
.bank_bottom_txt span{ font-size:14px; font-weight:bold; }
.bank_bottom_txt strong{ color:#00A0E9; font-size:14px;}



