@charset "utf-8";
/*关于天拓*/

/*关于天拓-公司简介*/
.intro_form { float:right; margin:0 0 0 10px }
.intro_lcontent { float:left; width:100%; padding-bottom:20px; border-bottom:1px solid #e8e8e8;}
.intro_lcontent .tit{ font:18px/24px 'microsoft yahei';}
.intro_lcontent .p1{ line-height:20px; margin-top:24px;}
.case_lcontent_pe { font:16px/25px 'microsoft yahei'; color:#008cd6; background:url(../images/about/manage_r1.jpg) no-repeat 0 10px; padding-left:20px;}
.case_lcontent_pc span.yellow { color:#f7ab00; font-weight:bold }
.intro_block { float:left; width:660px; margin-left:20px; }
.intro_item { float:left; margin-top:20px; width:660px; height:100px; background:url(../images/about/intro_t1.jpg) no-repeat;}
.intro_i_left { float:left; width:155px; height:57px; display:inline; margin:10px 0 0 15px }
.intro_i_left p { line-height:25px; color:#fff; text-align:center }
.intro_i_right { float:right; width:420px; margin:10px 20px 0 0; display:inline }
.intro_i_right p { color:#fff; line-height:170%; margin:0 }
.intro_iteml .intro_i_right p, .intro_iteml .intro_i_left p { color:#666;}
.intro_iteml { float:left; margin-top:20px; width:660px; height:100px; background:url(../images/about/intro_t1_2.jpg) no-repeat;}

