@charset "utf-8";
/*解决方案-公用*/
/*商务通-v1*/
#proZtSwt_sidebar{ display:block; width:40px; height:181px; position:fixed; _position:absolute; top:100px;_top:expression(eval(document.documentElement.scrollTop+(parseInt(this.currentStyle.marginTop, 10)||100))); right:0; background:url(../../images/pro_zhuanti/pro_zt_swt_2.png); cursor:pointer;}
.swt_flash{ width:565px; height:400px; position:fixed; left:50%; top:50%; margin-left:-250px; margin-top:-190px; background:url(../../images/swt_fixed.png) no-repeat; z-index:100;}
* html .swt_flash{ position:absolute; left:50%; top:50%; margin-top:0;top:expression(eval(document.documentElement.scrollTop+(parseInt(this.currentStyle.marginTop, 10)||180)));}
.swt_flash_close01{ color:#61c4f1; position:absolute; top:8px; left:417px; cursor:pointer; font: 22px/22px  Verdana,microsoft yahei; color:#000;}
.swt_flash_close01:hover{ color:#e14949;}
.swt_flash_btn{ display:block; width:103px; height:30px;  position:absolute; top:208px; text-indent:-9000em;}
.swt_flash_btn.btn01{ background:url(about:_blank); left:84px;}
.swt_flash_btn.btn01:hover{ background:url(../../images/swt_flash_btn.png);}
.swt_flash_btn.btn02{ background:url(about:_blank); left:193px;}
.swt_flash_btn.btn02:hover{ background:url(../../images/swt_flash_btn.png) 0 -30px;}
.swt_flash_box02{ width:401px; height:90px; position:fixed; left:50%; top:50%; margin-left:-200px; margin-top:-51px; background:url(../../images/swt_flash_box02.png) no-repeat; z-index:100;}
* html .swt_flash_box02{ position:absolute; left:50%; top:50%; margin-top:0; top:expression(eval(document.documentElement.scrollTop+(parseInt(this.currentStyle.marginTop, 10)||250)));}
.swt_flash_close02{ color:#fff; position:absolute; top:34px; right:20px; cursor:pointer; font-size:18px; line-height:18px;}
.swt_flash_close02:hover{ color:#e14949;}
.swt_flash_btn02{ display:block; width:113px; height:29px;  position:absolute; top:49px; left:257px; font:14px/29px microsoft yahei; background:url(../../images/swt_flash_box02.png) 0 -90px; overflow:hidden; text-indent:-9000em;}
.swt_flash_btn02:hover{ background-position:-113px -90px;}

/*商务通-v2*/
#proZtSwt_center{ display:none; width:415px; height:159px; position:fixed; _position:absolute; top:50%;_top:expression(eval(document.documentElement.scrollTop+(parseInt(this.currentStyle.marginTop, 10)||220))); left:50%; margin:-100px 0 0 -208px;_margin:0 0 0 -208px; background:url(../../images/pro_zhuanti/pro_zt_swt2.png) no-repeat; z-index:100;}
.proZtSwt_center_p{ position: absolute;top: 40px;left: 83px;width: 340px;font: 14px/22px microsoft yahei;}
.proZtSwt_center_p strong{ font-size:18px; font-weight:normal; color:#f6a200;}
.proZtSwt_center_close{ display:block; width:9px; height:9px; position:absolute; top:8px; right:13px; background:url(../../images/pro_zhuanti/pro_zt_swt.png) -416px -189px no-repeat; overflow:hidden; text-indent:-9000em;}
.proZtSwt_center_close:hover{ background-position:-425px -189px;}
.proZtSwt_center_btn{ display:block; width:103px; height:33px; background-image:url(../../images/pro_zhuanti/pro_zt_swt.png); position:absolute; top:116px; text-indent:-9000em;}
.proZtSwt_center_btnZX{ background-position:-529px 0; left:176px;}
.proZtSwt_center_btnZX:hover{ background-position:-529px -33px;}
.proZtSwt_center_btnYY{ background-position:-529px -66px; left:296px;}
.proZtSwt_center_btnYY:hover{ background-position:-529px -99px;}

/*公用*/
#pro_zt_top{ height:67px; width:100%; background:url(../../images/pro_zhuanti/pro_zt_topBg.png) repeat-x;}
.pro_zt_topMain{ width:980px; height:67px; position:relative;}
.pro_zt_topTit{ width:398px; height:67px; background:url(../../images/pro_zhuanti/pro_zt_topTit.png);}
.pro_zt_homePage{ display:block; width:200px; height:40px; position:absolute; left:4px; top:17px;}
.pro_zt_topTel{ width:155px; height:67px; background:url(../../images/pro_zhuanti/pro_zt_topTit.png) -398px 0;}
.pro_zt_main{ width:980px; margin-bottom:50px;}
.pro_zt_dotLine{ width:100%; height:1px; overflow:hidden; background:url(../../images/pro_zhuanti/pro_zt_dotLine.png) repeat-x;}

/*头部*/
#top_top{ height:31px; border-bottom:1px solid #d4d4d4; line-height:31px; color:#999; background:#f5f5f5;}
.top_top_main{ width:980px; letter-spacing:0;}
.top_top_left span{ margin:0 6px;}
.top_top_left a{ color:#999;}
.top_top_left a:hover{ color:#008cd6;}
.top_top_right a{ margin-left:7px; color:#008cd6;}
.top_top_right a:hover{ text-decoration:underline;}
#top_main{ width:980px; height:56px; margin-top:10px; margin-bottom:10px;}
#pro_zt_nav{ height:46px; background:url(../../images/pro_zhuanti/pro_zt_nav_bg.png) repeat-x; border-top:2px solid #d6eaf0; position:relative; z-index:100;}
.pro_zt_navWrap{ width:980px; height:46px; position:relative; z-index:2;}
.pro_zt_navMain{ background:url(../../images/pro_zhuanti/pro_zt_nav_bg.png) repeat-x; height:46px; position:relative; z-index:100;}
.pro_zt_navMain li{ *display:inline;}
.pro_zt_navMain a{ height:46px; float:left; padding:0 42px; font:17px/46px microsoft yahei; color:#333; background:url(../../images/pro_zhuanti/pro_zt_nav_div.png) top left no-repeat;}
.pro_zt_navMain a:hover{ color:#008cd6;}
.pro_zt_navMainFirst{ background:none !important;}
.pro_zt_navSub{ background:#fff; position:absolute; top:46px; z-index:100; border-radius:0 0 5px 5px; 1border:1px solid #e5e5e5; border-top:0; box-shadow:0 0 10px #b3b3b3; display:none;}
.pro_zt_navSub ul{ margin:0 0 10px 15px; _margin-top:-10px;}
.pro_zt_navSubTop{ height:3px; background:url(../../images/pro_zhuanti/pro_zt_nav_sub.png) repeat-x;}
.pro_zt_navSub li{ float:left; overflow:hidden;}
.pro_zt_navSub li a{ display:inline-block; height:20px; font:12px/20px microsoft yahei; color:#666; float:left; margin-top:10px; text-indent:10px; padding-right:20px; background:url(../../images/pro_zhuanti/pro_zt_nav_sub.png) left -20px no-repeat;}
.pro_zt_navSub li a:hover{ color:#fff}
.pro_zt_navSub01{ width:503px; left:119px;}
.pro_zt_navSub01 li{ width:160px;}
.pro_zt_navSub01 li a:hover{ background-position:right -40px;}
.pro_zt_navSub02{ width:503px; left:304px;}
.pro_zt_navSub02 li{ width:160px;}
.pro_zt_navSub02 li a:hover{ background-position:right -60px;}
.pro_zt_navSub03{ width:543px; right:5px;}
.pro_zt_navSub03 li{ width:130px;}
.pro_zt_navSub03 li a:hover{ background-position:right -80px;}
.pro_zt_navSub04{ width:430px; right:5px;}
.pro_zt_navSub04 li{ width:138px;}
.pro_zt_navSub04 li a:hover{ background-position:right -100px;}

/*关联阅读*/
.guanlian_wrap{ width:480px; float:left; margin:40px 0;}
.guanlian_borderRight{ border-right:1px solid #b3b3b3; padding-right:11px; margin-right:8px;}
.guanlian_wrap ul{ margin-top:8px;}
.guanlian_wrap li{ *display:inline;}
.guanlian_wrap h3{ font:16px/24px microsoft yahei; text-indent:7px;}
.guanlian_wrap a{ width:116px; float:left; text-align:center; color:#008ab4; padding:4px 0; margin-left:4px;}
.guanlian_wrap a:hover{ background:#c2e4f2;}
.guanlian_wrap img{ width:102px; height:98px; padding:2px; border:1px solid #ccc; background:#fff;}