@charset "utf-8";
/*产品页-头部*/
#top_top{ height:31px; border-bottom:1px solid #e8e8e8; background:#f5f5f5; line-height:31px; color:#999;}
.top_top_main{ width:1080px; letter-spacing:0;}
.top_top_left span{ margin:0 6px;}
.top_top_left a{ color:#999;}
.top_top_left a:hover{ color:#008cd6;}
.top_top_left strong a{ font-weight:bold; color:#008cd6;}
.top_top_right a{ margin-left:7px; color:#008cd6;}
.top_top_right a:hover{ text-decoration:underline;}
#top_main{ width:1080px; height:56px; overflow:hidden;}
/*产品首页-头部-nav*/
.header{ border-bottom:1px solid #A7C5DF;}
#pro_nav{ width:1080px; height:33px;}
#pro_nav li{ float:left; *display:inline;}
#pro_nav .sub a{ display:inline-block; *display:inline; *zoom:1; height:30px; font:12px/30px "微软雅黑"; color:#666; margin:0 4px; letter-spacing:0; border-bottom:solid 3px #fff;}
#pro_nav .sub a:hover{ color:#008CD6;border-bottom:solid 3px #ED3058;}
#pro_nav .line{ width:10px; height:30px; background:url(../products_images/products_nav.gif) center no-repeat; position:relative;}
#pro_nav .line_bgnone{ background:none; width:0;}
#pro_nav .line a{ position:absolute; top:-20px; left:20px; width:120px; height:30px; line-height:30px; color:#333; font-size:14px; font-weight:bold; font-style:oblique;}
#pro_nav .line_bgnone a{ left:0px;}
/*产品页-合作伙伴*/
#partners{ width:980px; position:relative;}
.partners_tit{ text-align:center;}
.partners_box{position:relative;width:852px;height:50px;overflow:hidden; margin:15px auto 0 auto;}
.partners_list { position:absolute;left:0px;top:0px; width:999em;}
.partners_list li{ float:left;width:852px;}
.partners_list li a{*display:inline; width:132px; height:48px; float:left; border:1px solid #e8e8e8; background-image:url(../images/partners_logo.png); text-indent:-9000em; margin:0 4px;}
.partners_soso { background-position:0 -48px;}
.partners_tencent { background-position:0 -96px;}
.partners_sogou { background-position:0 -144px;}
.partners_baidu { background-position:0 -192px;}
.partners_sina { background-position:0 -240px;}
.partners_admob{ background-position:0 -288px;}
.partners_Inmobi{ background-position:0 -336px;}
.partners_tapjoy{ background-position:0 -384px;}
.partners_sinawb{ background-position:0 -432px;}
.partners_facebook{ background-position:0 -480px;}
.partners_twitter{ background-position:0 -528px;}
/*产品页-底部*/
#bottom{ font-family:Verdana,arial,sans-serif; padding:25px 0 15px; text-align:center; color:#999;}
#bottom a{ color:#999;}
#bottom a:hover{ color:#008cd6;}
#bottom span{ margin:0 5px;}
/*产品首页-主体*/
#pro_main{width:980px; margin-bottom:40px;}
/*产品列表-主体-焦点图*/
.pro_focus{ width:733px; height:278px; border:1px solid #ddd; position:relative; overflow:hidden;}
.pro_focus .img_list{ height:278px; position:absolute;}
.pro_focus .img_list li{ width:733px; height:278px; overflow:hidden; float:left;}
.pro_focus .btn{ position:absolute; right:12px; bottom:-10px; opacity:0; filter:alpha(opacity=0);}
.pro_focus .btn li{ width:20px; height:10px; float:left; margin-left:5px; opacity:0.4; filter:alpha(opacity=40); overflow:hidden; background:#b3b3b3; cursor:pointer;}
.pro_focus .btn .active{opacity:1; filter:alpha(opacity=100); background:#0098dd;}
/*产品列表-主体-焦点图右侧*/
.pro_focus_right{ width:235px; height:280px; background:#f6f6f6; overflow:hidden; letter-spacing:0;}
.pro_focus_right .tit{ width:235px; height:35px; overflow:hidden; text-indent:-9000em; background-image:url(../products_images/pro_list_tit.png);}
.pro_focus_right .tit.smm{ background-position:0 -35px;}
.pro_focus_right .tit.move{ background-position:0 -70px;}
.pro_focus_right .tit.plan{ background-position:0 -105px;}
.pro_focus_right li{ width:100%; color:#333; position:relative;}
.pro_focus_right .p1 p{ padding:0 13px 0 30px; line-height:20px;}
.pro_focus_right .p2 p{ padding:0 10px 0 30px; line-height:16px;}
.pro_focus_right .p3 p{ padding:0 10px 0 30px; line-height:16px;}
.pro_focus_right .number{ width:11px; height:11px; overflow:hidden; text-indent:-9000em; background-image:url(../products_images/products_number.png); position:absolute; left:13px; top:4px;}
.pro_focus_right .number.n02{ background-position:-11px 0;}
.pro_focus_right .number.n03{ background-position:-22px 0;}
.pro_focus_right .number.n04{ background-position:-33px 0;}
.pro_focus_right .line{ width:100%; height:0; overflow:hidden; border-top:1px solid #e8e8e8; border-bottom:1px solid #fff; margin:6px 0;}
.pro_focus_right .suit{ padding:8px 8px 0 10px; line-height:18px;}
.pro_focus_right strong{ font-weight:normal; color:#008cd6;}
.pro_focus_right span{ font-weight:bold;}
/*产品列表-搜索广告-主体-产品展示*/
.pro_sem .cont{ width:204px; height:575px; overflow:hidden; border-right:1px solid #e8e8e8; position:relative; padding:0 20px; float:left;}
.pro_sem h2 a{ display:block; font:bold 16px/35px "微软雅黑"; color:#008cd6; text-align:center;}
.pro_sem h2 a:hover{ text-decoration:underline;}
.pro_sem .p_logo{ width:204px; height:144px; background-image:url(../products_images/products_logo.png); margin-top:10px;}
.pro_sem .p_logo.pic02{ background-position:0 -144px;}
.pro_sem .p_logo.pic03{ background-position:0 -288px;}
.pro_sem .p_logo.pic04{ background-position:0 -432px;}
.pro_sem .super{ width:100%; height:158px; position:relative; border-bottom:1px dotted #ddd; zoom:1; margin-top:16px;}
.pro_sem .list{ width:200px; padding-left:15px;}
.pro_sem .list li{ position:relative; font:14px/24px simsun; color:#333; letter-spacing:0;}
.pro_sem .list .number{ width:11px; height:11px; overflow:hidden; text-indent:-9000em; background-image:url(../products_images/products_number.png); position:absolute; left:-15px; top:7px; *top:4px;}
.pro_sem .list .number.n02{ background-position:-11px 0;}
.pro_sem .list .number.n03{ background-position:-22px 0;}
.pro_sem .list .number.n04{ background-position:-33px 0;}
.pro_sem .list .number.n05{ background-position:-44px 0;}
.pro_sem .list .number.n06{ background-position:-55px 0;}
.pro_sem .more a{left:140px;display:block; height:20px; font-size:14px; letter-spacing:0; line-height:20px; overflow:hidden; position:absolute; bottom:10px; color:#008cd6;}
.pro_sem .more a:hover{ text-decoration:underline;}
.pro_sem .list02 li{ _display:inline;}
.pro_sem .list02 a{ display:block; height:22px; font:12px/22px "微软雅黑"; color:#008cd6; letter-spacing:0; text-indent:8px; background:url(../products_images/products_ico01.gif) 0 9px no-repeat;}
.pro_sem .list02 a:hover{ text-decoration:underline;}
.pro_sem .btn a{left:140px; width:202px; height:35px; font:14px/35px "微软雅黑"; color:#fff; background:url(../products_images/products_btn04.png) repeat-x; text-align:center; position:absolute; bottom:10px; overflow:hidden;}
.pro_sem .btn a:hover{ background-position:0 -35px;}
/*产品列表-移动广告-主体-产品展示*/
.pro_move .cont{ width:434px; height:840px; overflow:hidden; border-right:1px solid #e8e8e8; position:relative; padding:0 25px 0 30px; float:left;}
.pro_move h2 a{ display:block; font:18px/35px "微软雅黑"; color:#008cd6; text-align:center;}
.pro_move h2 a:hover{ text-decoration:underline;}
.pro_move .super{ width:434; height:400px; position:absolute; top:360px; *left:30px; border-bottom:1px dotted #ddd; zoom:1;}
.pro_move .list{ width:417px; padding-left:17px;}
.pro_move .list li{ position:relative; font:14px/24px simsun; color:#333; letter-spacing:0; margin-top:15px;}
.pro_move .list li strong{ color:#0096dc;}
.pro_move .list .number{ width:11px; height:11px; overflow:hidden; text-indent:-9000em; background-image:url(../products_images/products_number.png); position:absolute; left:-15px; top:7px; *top:4px;}
.pro_move .list .number.n02{ background-position:-11px 0;}
.pro_move .list .number.n03{ background-position:-22px 0;}
.pro_move .list .number.n04{ background-position:-33px 0;}
.pro_move .list .number.n05{ background-position:-44px 0;}
.pro_move .list .number.n06{ background-position:-55px 0;}
.pro_move .more a{ display:block; height:20px; font-size:14px; letter-spacing:0; line-height:20px; overflow:hidden; position:absolute; bottom:10px; color:#008cd6;}
.pro_move .more a:hover{ text-decoration:underline;}
.pro_move .btn a{ width:202px; height:35px; font:14px/35px "微软雅黑"; color:#fff; background:url(../products_images/products_btn04.png) repeat-x; text-align:center; position:absolute; bottom:10px; left:144px; overflow:hidden;}
.pro_move .btn a:hover{ background-position:0 -35px;}
/*产品列表-营销方案-主体-产品展示*/
.pro_plan .cont{ width:285px; height:560px; overflow:hidden; border-right:1px solid #e8e8e8; position:relative; padding:0 20px; float:left;}
.pro_plan h2 a{ display:block; font:bold 16px/35px "微软雅黑"; color:#008cd6; text-align:center;}
.pro_plan h2 a:hover{ text-decoration:underline;}
.pro_plan .p_logo{ width:285px; margin-top:20px;}
.pro_plan .super{ width:285; height:330px; position:relative; top:20px; border-bottom:1px dotted #ddd; zoom:1;}
.pro_plan .list{ width:253px; padding-left:17px;}
.pro_plan .list li{ position:relative; font:14px/24px simsun; color:#333; letter-spacing:0;}
.pro_plan .list .number{ width:11px; height:11px; overflow:hidden; text-indent:-9000em; background-image:url(../products_images/products_number.png); position:absolute; left:-15px; top:7px; *top:4px;}
.pro_plan .list .number.n02{ background-position:-11px 0;}
.pro_plan .list .number.n03{ background-position:-22px 0;}
.pro_plan .list .number.n04{ background-position:-33px 0;}
.pro_plan .list .number.n05{ background-position:-44px 0;}
.pro_plan .list .number.n06{ background-position:-55px 0;}
.pro_plan .more a{left:80px; display:block; height:20px; font-size:14px; letter-spacing:0; line-height:20px; overflow:hidden; position:absolute; bottom:10px; color:#008cd6;}
.pro_plan .more a:hover{ text-decoration:underline;}
.pro_plan .list02{ margin-top:30px;}
.pro_plan .list02 li{ _display:inline;}
.pro_plan .list02 a{ display:block; height:22px; font:12px/22px "微软雅黑"; color:#008cd6; letter-spacing:0; text-indent:8px; background:url(../products_images/products_ico01.gif) 0 9px no-repeat;}
.pro_plan .list02 a:hover{ text-decoration:underline;}
.pro_plan .list_cloud{ margin-top:27px; overflow:hidden;}
.pro_plan .list_cloud li{ *display:inline;}
.pro_plan .list_cloud a{ display:inline-block; *display:inline; *zoom:1; height:24px; line-height:24px; color:#333; padding:0 4px; background:#dbedf6; float:left; margin:6px 6px 0 0; letter-spacing:0; white-space:nowrap; padding:0 8px;}
.pro_plan .list_cloud a:hover{ background:#c0e8fc; color:#000;}
.pro_plan .btn a{ width:202px; height:35px; font:14px/35px "微软雅黑"; color:#fff; background:url(../products_images/products_btn04.png) repeat-x; text-align:center; position:absolute; bottom:10px; left:62px; overflow:hidden;}
.pro_plan .btn a:hover{ background-position:0 -35px;}
/*产品列表-社媒营销-主体-产品展示*/
.pro_smm .cont{ width:204px; height:410px; overflow:hidden; border-right:1px solid #e8e8e8; position:relative; padding:0 20px; float:left;}
.pro_smm h2 a{ display:block; font:bold 16px/35px "微软雅黑"; color:#008cd6; text-align:center;}
.pro_smm h2 a:hover{ text-decoration:underline;}
.pro_smm .p_logo{ width:204px; height:144px; background-image:url(../products_images/products_logo1.png); margin-top:10px;}
.pro_smm .p_logo.pic02{ background-position:0 -144px;}
.pro_smm .p_logo.pic03{ background-position:0 -288px;}
.pro_smm .p_logo.pic04{ background-position:0 -432px;}
.pro_smm .super{ width:100%; height:138px; position:relative; border-bottom:1px dotted #ddd; zoom:1; margin-top:16px;}
.pro_smm .list{ width:200px; padding-left:15px;}
.pro_smm .list li{ position:relative; font:14px/24px simsun; color:#333; letter-spacing:0;}
.pro_smm .list .number{ width:11px; height:11px; overflow:hidden; text-indent:-9000em; background-image:url(../products_images/products_number.png); position:absolute; left:-15px; top:7px; *top:4px;}
.pro_smm .list .number.n02{ background-position:-11px 0;}
.pro_smm .list .number.n03{ background-position:-22px 0;}
.pro_smm .list .number.n04{ background-position:-33px 0;}
.pro_smm .list .number.n05{ background-position:-44px 0;}
.pro_smm .list .number.n06{ background-position:-55px 0;}
.pro_smm .more a{ left:150px;display:block; height:20px; font-size:14px; letter-spacing:0; line-height:20px; overflow:hidden; position:absolute; bottom:10px; color:#008cd6;}
.pro_smm .more a:hover{ text-decoration:underline;}
.pro_smm .list02 li{ _display:inline;}
.pro_smm .list02 a{ display:block; height:22px; font:12px/22px "微软雅黑"; color:#008cd6; letter-spacing:0; text-indent:8px; background:url(../products_images/products_ico01.gif) 0 9px no-repeat;}
.pro_smm .list02 a:hover{ text-decoration:underline;}
.pro_smm .btn a{ left:140px;width:202px; height:35px; font:14px/35px "微软雅黑"; color:#fff; background:url(../products_images/products_btn04.png) repeat-x; text-align:center; position:absolute; bottom:10px; overflow:hidden;}
.pro_smm .btn a:hover{ background-position:0 -35px;}
/*产品页-子页-左侧*/
.pro_left{ width:710px;}
/*产品页-子页-右边栏*/
.pro_sidebar{ width:250px; overflow:hidden;}
.pro_sidebar .box_b{ border:1px solid #ccc;}
.pro_sidebar .box_w{ border:1px solid #fff; background:#f5f5f5; width:246px; overflow:hidden;}
.pro_sidebar .sidebar_tit{ width:246px; height:42px; background:url(../products_images/products_sidebar_tit01.png) repeat-x; font:bold 14px/37px simsun; color:#333; text-indent:14px;}
.pro_sidebar .line{ border-top:1px solid #e8e8e8; border-bottom:1px solid #fff; height:0; overflow:hidden;}
.pro_sidebar .pro_menu{ padding:4px 20px 12px 20px;}
.pro_sidebar .pro_menu a{ display:block; width:100%; height:20px; font:14px/20px simsun; color:#666; background:url(../products_images/products_sidebar_ico01.gif) 150px 5px no-repeat; letter-spacing:0; margin:8px 0 5px 0;}
.pro_sidebar .pro_menu a:hover{ color:#008cd6; background-position:150px -25px;}
.pro_sidebar .offer{ padding:7px 11px 14px 11px;}
.pro_sidebar .offer a img{ width:224px; height:auto; margin-bottom:7px;}
.pro_sidebar .offer p{ text-indent:2em; font:12px/22px simsun; letter-spacing:0; margin-top:10px;}
.pro_sidebar .offer .apply{ display:block; text-align:right; color:#008cd6; font:12px/20px simsun; margin-top:10px;}
.pro_sidebar .offer .apply:hover{ text-decoration:underline;}
.pro_sidebar .cases ul{ margin:12px 0 8px 11px;}
.pro_sidebar .cases li{ *display:inline;}
.pro_sidebar .cases li a{ display:block; _display:inline; width:95px; height:65px; border:1px solid #e8e8e8; overflow:hidden; margin:10px 0 0 10px; float:left;}
.pro_sidebar .cases li a:hover{ border-color:#ccc;}
.pro_sidebar .cases .more{ width:224px; margin:0 21px 3px 11px;}
.pro_sidebar .cases .more a{ display:block; text-align:right; color:#008cd6; font:12px/35px simsun;}
.pro_sidebar .cases .more a:hover{ text-decoration:underline;}
.pro_sidebar .conf li{ width:214px; line-height:18px; padding:10px 11px 0 21px; background:url(../products_images/products_ico01.gif) 13px 18px no-repeat;}
.pro_sidebar .conf .more{ width:224px; margin:0 21px 3px 11px;}
.pro_sidebar .conf .more a{ display:block; text-align:right; color:#008cd6; font:12px/35px simsun;}
.pro_sidebar .conf .more a:hover{ text-decoration:underline;}
.pro_sidebar .advan{ width:224px; padding:12px 11px;}
.pro_sidebar .advan p{ text-indent:2em; font:12px/20px simsun;}
.pro_sidebar .advan ul li{ padding-left:20px; background:url(../products_images/pro_sidebar_gou.gif) 0 4px no-repeat; font:12px/20px simsun; margin-top:6px;}
.pro_sidebar .advan img{ display:block; width:196px; height:auto; margin:7px auto 4px auto;}
.pro_sidebar .advan span{ display:block; text-align:center; letter-spacing:0; line-height:20px; margin-bottom:5px; color:#002956;}
/*产品详细页-左侧-公用*/
.pro_left .tit01{ width:100%; font:22px/30px "微软雅黑"; color:#0054a7; text-indent:30px; }
.pro_left .tit01.google_ico{ background:url(../products_images/products_google_ico.png) 0 7px no-repeat;}
.pro_left .tit01.sogou_ico{ background:url(../products_images/products_sogou_ico.png) 0 4px no-repeat;}
.pro_left .tit01.tencent_ico{ background:url(../products_images/products_tencent_ico.png) 0 4px no-repeat;}
.pro_left .chuxiao_btn{ width:667px; height:73px; margin:25px 0 0 27px; background:url(../products_images/products_btn_bg01.png); position:relative; overflow:hidden;}
.pro_left .chuxiao_btn .btn{ display:block; width:157px; height:40px; background:url(../products_images/products_btn02.png); text-align:center; font:18px/40px "微软雅黑"; color:#fff; position:absolute; top:17px; right:60px}
.pro_left .chuxiao_btn .btn:hover{ background-position:0 -52px;}
.pro_left .chuxiao_btn .text01{font:17px/23px "微软雅黑"; color:#0054a7; text-align:right; position:absolute; top:11px; left:14px;}
.pro_left .chuxiao_btn .text02{font:36px/40px "微软雅黑"; color:red; position:absolute; top:20px; left:215px; letter-spacing:0;}
.pro_left .chuxiao_btn .text03{font:17px/23px "微软雅黑"; color:#0054a7; position:absolute; top:35px; left:326px;}
.pro_left .chuxiao_btn .text04{font:17px/23px "微软雅黑"; color:#0054a7; position:absolute; top:38px; left:14px;}
.pro_left .chuxiao_btn .text05{font-size:25px; color:red;}
.pro_left .bottom_bg{ width:665px; height:32px; background:url(../products_images/products_google_bg.png);}
.pro_left .under_tab{ min-height:52px; _height:52px; margin-left:50px; position:relative;}
.pro_left .under_tab .btn{ width:157px; height:52px; background:url(../products_images/products_btn02.png); position:absolute; right:35px; top:0;}
.pro_left .under_tab .btn a{ display:block; width:157px; height:40px; background:url(../products_images/products_btn02.png); text-align:center; font:18px/40px "微软雅黑"; color:#fff;}
.pro_left .under_tab .btn a:hover{ background-position:0 -52px;}
.pro_left .under_tab .h_cx{ font:14px/20px simsun;}
.pro_left .under_tab .more{ font:14px/30px simsun; color:#3073b7;}
#pro_main .tit02{ width:100%; font:22px/39px "微软雅黑"; color:#0054a7; text-indent:48px; }
#pro_main .tit02.kb_ico{ background:url(../products_images/products_kb_ico.png) 0 0 no-repeat;}
#pro_main .tit03{ width:100%; font:22px/26px "微软雅黑"; color:#0054a7; text-indent:40px; }
#pro_main .tit03.wb_ico{ background:url(../products_images/products_weibo_ico.png) 0 0 no-repeat;}

/*产品详细页*/
.prosub_cont01 .box01{ width:400px; min-height:105px; _height:105px; margin-left:30px; font:14px/23px simsun; color:#333; position:relative;}
.prosub_cont01 .box02{ width:450px; min-height:105px; _height:105px; margin-left:30px; font:14px/6px simsun; color:#333; position:relative; letter-spacing:0;}
.prosub_cont01 .box02 .str01{ font:24px/46px "微软雅黑";}
.prosub_cont01 .btn_above{ width:157px; position:absolute; right:-207px; top:0;}
.prosub_cont01 .btn{ width:157px; height:52px; position:absolute; right:-207px; top:53px; background:url(../products_images/products_btn02.png)}
.prosub_cont01 .btn a{ display:block; width:157px; height:40px; background:url(../products_images/products_btn02.png); text-align:center; font:18px/40px "微软雅黑"; color:#fff;}
.prosub_cont01 .btn a:hover{ background-position:0 -52px;}
.prosub_cont01 .text{ font:14px/32px simsun; text-align:center;}
.prosub_cont01 .list01 li{ background:url(../products_images/products_ico02.gif) 0 8px no-repeat; padding-left:13px;}
.prosub_cont01 .list02 li{ height:30px; overflow:hidden; font:16px/30px "微软雅黑"; letter-spacing:0; float:left; text-indent:10px; background:url(../products_images/products_ico02.gif) 0 13px no-repeat;}
.prosub_cont01 .list02 .str01{ font-size:28px; color:red; vertical-align:-4px;}
.prosub_cont01 .list02 .str02{ font-size:18px; color:red; vertical-align:-3px;}
.prosub_cont01 .sgtb_tct{ background:url(../products_images/products_tb_pic01.jpg) no-repeat left top; width:587px; height:68px; padding-top:30px; padding-left:75px; letter-spacing:0;}
.prosub_cont01 .sgtb_tct p{font-family: "微软雅黑"; font-size:24px; color:#0054a7; padding-left:0; background:none;  line-height:1.2em;}
.prosub_cont01 .sgtb_tct p span{ font-size:16px; color:#221815;}
.prosub_cont01 .box03 .cont{ padding-bottom:24px; position:relative;}
.prosub_cont01 .box03 p{ position:absolute; bottom:0; font:14px/24px simsun;}
.prosub_cont01 .box04{ width:673px; height:66px; background:url(../products_images/pro_tencnet_qj_pci05.jpg); position:relative;}
.prosub_cont01 .box04 a{ font:14px/20px "微软雅黑"; color:#0075c2; text-decoration:underline; position:relative; top:20px; left:300px;}
.prosub_cont01 .box04 a:hover{ color:#009aff;}
.prosub_cont01 .box05{ width:603px; height:200px; border:3px solid #dfdfdf; position:relative; background:url(../products_images/pro_tencent_wx_pic01.png) 11px 93px no-repeat;}
.prosub_cont01 .box05 .p1{ padding:6px 0 0 10px; font-weight:bold;}
.prosub_cont01 .box05 li{ width:195px; height:20px; text-indent:20px; background:url(../products_images/pro_tencent_wx_gou.png) 0 3px no-repeat; float:left;}
.prosub_cont01 .box05 .p2{ width:238px; height:77px; line-height:18px; position:absolute; top:93px; left:365px;}
.prosub_cont01 .box05 .p3{ position:absolute; bottom:5px; left:10px; font-weight:bold; letter-spacing:0;}
.prosub_cont01 .box06{ position:relative; width:500px; margin-left:40px;}
.prosub_cont01 .box06 .p1{ background:url(../images/fstt_pic02.png) 437px 0 no-repeat; margin-top:15px; font:16px/27px "微软雅黑";}
.prosub_cont01 .box06 .p1 strong{ font-size:24px; color:#e10000;}
.prosub_cont02 ul{ width:614px; height:123px; padding-bottom:4px; background:url(../products_images/products_google_pic02.png) 0 4px no-repeat; margin:20px 0 0 30px; padding-left:27px;} 
.prosub_cont02 li{ font:14px/43px simsun; color:#333; letter-spacing:0;}
.prosub_cont02_b ul{ width:610px; height:245px; padding-bottom:4px; background: url(../products_images/products_sogou_twgp_pic02.png) 0 4px no-repeat; margin:20px 0 0 30px; padding-left:31px;} 
.prosub_cont02_b li{ font:14px/43px simsun; color:#333; letter-spacing:0;}
.prosub_cont02_b strong{ color:#009ffa; font-weight:normal;}
.prosub_cont02_b .tedian{ width:619px; height:172px; background:url(../products_images/products_sogou_twgp_pic03.png); margin:16px 0 0 42px;}
.prosub_cont02_b .tedian_block{ *display:inline; width:150px; float:left; margin-left:52px; margin-top:10px;}
.prosub_cont02_b .tedian_block h4{ font:14px/20px simsun; color:#fff; text-align:center;}
.prosub_cont02_b .tedian_block p{ text-indent:2em; font:14px/20px simsun; margin-top:36px; letter-spacing:0;}
.prosub_cont02_c ul{ width:614px; height:206px; padding-bottom:4px; background:url(../products_images/products_google_pic02.png) 0 4px no-repeat; margin:20px 0 0 30px; padding-left:27px;} 
.prosub_cont02_c li{ font:14px/43px simsun; color:#333; letter-spacing:0;}
.prosub_cont02_c strong{ color:red;}
.prosub_cont02_d ul{ width:614px; height:206px; padding-bottom:4px; background:url(../products_images/products_google_pic02.png) 0 4px no-repeat; margin:20px 0 0 30px; padding-left:27px;} 
.prosub_cont02_d li{ font:14px/43px simsun; color:#333; letter-spacing:0;}
.prosub_cont02_d strong{ font-weight:bold; color:#000;}
.prosub_cont03 .tab_box{ width:662px; height:410px; background:url(../products_images/pro_case_tab_bg02.png) 15px 0 repeat-y; position:relative; padding:0 15px; margin:20px 0 0 15px; overflow:hidden;}
.prosub_cont03 .duan{ width:662px; height:5px; background-image:url(../products_images/pro_case_tab_bg01.png); overflow:hidden; position:absolute;}
.prosub_cont03 .duan.tabtop{ top:0;}
.prosub_cont03 .duan.tabbtm{ background-position:0 -5px; bottom:0;}
.prosub_cont03 .tab_mask{ width:662px; height:390px; overflow:hidden; position:relative;}
.prosub_cont03 .tab_list{ height:390px; position:absolute; top:0; left:0;}
.prosub_cont03 .cont{ width:201px; height:365px; float:left; margin:25px 28px 0 28px; padding-right:405px; position:relative; _display:inline;}
.prosub_cont03 .pic{ position:absolute; top:0; right:0;}
.prosub_cont03 .case_infor img{ float:left}
.prosub_cont03 .case_infor p{ font:12px/14px simsun; color:#4d4d4d; float:left; margin-top:5px; text-indent:-5em; padding-left:5em;}
.prosub_cont03 .lh16{ line-height:16px;}
.prosub_cont03 h4{ font-weight:bold; margin-top:15px;}
.prosub_cont03 .pro_tab_btn{ width:30px; height:61px; background:url(../products_images/products_tab_btn01.png); cursor:pointer; position:absolute;}
.prosub_cont03 .prev{ left:0; top:155px;}
.prosub_cont03 .prev:hover{ background-position:0 -61px;}
.prosub_cont03 .next{ background-position:-30px 0; right:0; top:155px;}
.prosub_cont03 .next:hover{ background-position:-30px -61px;}
.prosub_cont03 .tab_box .asd{ position:absolute; bottom:10px; right:50px; font:14px/20px simsun; color:#2575c1;}
.prosub_cont03 .tab_box .asd:hover{ text-decoration:underline;}
.prosub_cont03_b .case_box{ width:669px; height:411px; background:url(../products_images/products_sogou_twgp_pic04.jpg); position:relative; margin:15px 0 0 25px;}
.prosub_cont03_b .case_box .asd{ position:absolute; bottom:13px; right:20px; font:14px/20px simsun; color:#2575c1;}
.prosub_cont03_b .case_box .asd:hover{ text-decoration:underline;}
.prosub_cont03_c .tab_box{ width:662px; height:378px; background:url(../products_images/products_google_pic03.png) 15px 0 no-repeat; position:relative; padding:0 15px; margin:15px 0 0 15px; overflow:hidden;}
.prosub_cont03_c .tab_mask{ width:662px; height:350px; overflow:hidden; position:relative;}
.prosub_cont03_c .tab_list{ height:350px; position:absolute; top:0; left:0;}
.prosub_cont03_c .cont{ width:400px; height:320px; float:left; margin:25px 28px 0 28px; padding-right:206px; position:relative; _display:inline;}
.prosub_cont03_c .pic{ position:absolute; top:18px; right:0;}
.prosub_cont03_c .case_infor{ display:inline-block; *display:inline; *zoom:1; padding:7px 10px; border:1px solid #eee; letter-spacing:0;}
.prosub_cont03_c .case_infor img{ float:left}
.prosub_cont03_c .case_infor p{ font:12px/14px simsun; color:#4d4d4d; float:left; margin-left:20px;}
.prosub_cont03_c .lh16{ line-height:16px;}
.prosub_cont03_c h4{ font-weight:bold; margin-top:5px;}
.prosub_cont03_c .pro_tab_btn{ width:30px; height:61px; background:url(../products_images/products_tab_btn01.png); cursor:pointer; position:absolute;}
.prosub_cont03_c .prev{ left:0; top:155px;}
.prosub_cont03_c .prev:hover{ background-position:0 -61px;}
.prosub_cont03_c .next{ background-position:-30px 0; right:0; top:155px;}
.prosub_cont03_c .next:hover{ background-position:-30px -61px;}
.prosub_cont03_c .tab_box .asd{ position:absolute; bottom:14px; right:50px; font:14px/20px simsun; color:#2575c1;}
.prosub_cont03_c .tab_box .asd:hover{ text-decoration:underline;}
.prosub_cont03_d .tab_box{ width:662px; height:438px; background:url(../products_images/pro_case_tab_bg02.png) 15px 0 repeat-y; position:relative; padding:0 15px; margin:15px 0 0 15px; overflow:hidden;}
.prosub_cont03_d .duan{ width:662px; height:5px; background-image:url(../products_images/pro_case_tab_bg01.png); overflow:hidden; position:absolute;}
.prosub_cont03_d .duan.tabtop{ top:0;}
.prosub_cont03_d .duan.tabbtm{ background-position:0 -5px; bottom:0;}
.prosub_cont03_d .tab_mask{ width:662px; height:420px; overflow:hidden; position:relative;}
.prosub_cont03_d .tab_list{ height:420px; position:absolute; top:0; left:0;}
.prosub_cont03_d .cont{ width:370px; height:297px; float:left; margin:33px 28px 0 28px; padding-right:236px; position:relative; _display:inline;}
.prosub_cont03_d .pic{ position:absolute; top:90px; right:0;}
.prosub_cont03_d .case_infor{ display:inline-block; *display:inline; *zoom:1; padding:7px 10px; border:1px solid #eee; letter-spacing:0;}
.prosub_cont03_d .case_infor img{float:left}
.prosub_cont03_d .case_infor p{ font:12px/20px simsun; color:#4d4d4d; float:left; margin-left:10px;}
.prosub_cont03_d .slogan{ font:16px/40px "微软雅黑"; color:#666;}
.prosub_cont03_d h4{ font-weight:bold; margin-top:20px;}
.prosub_cont03_d .pro_tab_btn{ width:30px; height:61px; background:url(../products_images/products_tab_btn01.png); cursor:pointer; position:absolute;}
.prosub_cont03_d .prev{ left:0; top:155px;}
.prosub_cont03_d .prev:hover{ background-position:0 -61px;}
.prosub_cont03_d .next{ background-position:-30px 0; right:0; top:155px;}
.prosub_cont03_d .next:hover{ background-position:-30px -61px;}
.prosub_cont03_d .tab_box .asd{ position:absolute; bottom:14px; right:50px; font:14px/20px simsun; color:#2575c1;}
.prosub_cont03_d .tab_box .asd:hover{ text-decoration:underline;}
.prosub_cont03_e .tab_box{ width:662px; height:460px; background:url(../products_images/pro_case_tab_bg02.png) 15px 0 repeat-y; position:relative; padding:0 15px; margin:20px 0 0 15px; overflow:hidden;}
.prosub_cont03_e .duan{ width:662px; height:5px; background-image:url(../products_images/pro_case_tab_bg01.png); overflow:hidden; position:absolute;}
.prosub_cont03_e .duan.tabtop{ top:0;}
.prosub_cont03_e .duan.tabbtm{ background-position:0 -5px; bottom:0;}
.prosub_cont03_e .tab_mask{ width:662px; height:440px; overflow:hidden; position:relative;}
.prosub_cont03_e .tab_list{ height:440px; position:absolute; top:0; left:0;}
.prosub_cont03_e .cont{ width:270px; height:415px; float:left; margin:25px 28px 0 28px; padding-right:336px; position:relative; _display:inline;}
.prosub_cont03_e .pic{ position:absolute; top:0; right:0;}
.prosub_cont03_e .case_infor img{ margin-bottom:12px;}
.prosub_cont03_e .case_infor p{ font:12px/14px simsun; color:#4d4d4d; margin-top:5px; text-indent:-5em; padding-left:5em;}
.prosub_cont03_e .lh18{ line-height:18px;}
.prosub_cont03_e h4{ font-weight:bold; margin-top:15px;}
.prosub_cont03_e .pro_tab_btn{ width:30px; height:61px; background:url(../products_images/products_tab_btn01.png); cursor:pointer; position:absolute;}
.prosub_cont03_e .prev{ left:0; top:155px;}
.prosub_cont03_e .prev:hover{ background-position:0 -61px;}
.prosub_cont03_e .next{ background-position:-30px 0; right:0; top:155px;}
.prosub_cont03_e .next:hover{ background-position:-30px -61px;}
.prosub_cont03_e .tab_box .asd{ position:absolute; bottom:10px; right:50px; font:14px/20px simsun; color:#2575c1;}
.prosub_cont03_e .tab_box .asd:hover{ text-decoration:underline;}
.prosub_cont04 p{ font:14px/20px simsun; margin:20px 0 10px 30px;}
.prosub_cont05 .p_text01{ font:14px/20px simsun; margin:20px 0 10px 30px;}
.prosub_cont05 img{ margin:12px 0 0 30px;}
.prosub_cont05 .p_text02{ margin:20px 0 10px 30px;}
.prosub_cont05 a{ font:14px/20px simsun; text-decoration:underline; color:#008cd6; margin-left:194px;}
.prosub_cont05 a:hover{ color:#00a7ff;}
.prosub_cont06 .list li{ width:653px; height:39px; background:url(../products_images/pro_tencent_pic03.png) right top no-repeat #84dfff; position:relative; text-indent:40px; font:14px/39px simsun; color:#4d4d4d; margin-top:14px; letter-spacing:0;}
.prosub_cont06 .number{background-image:url(../products_images/pro_tencent_pic03.png); text-indent:-9000em; width:34px; height:39px; position:absolute; top:0; left:0;}
.prosub_cont06 .number.li01{ background-position:0 -39px;}
.prosub_cont06 .number.li02{ background-position:0 -78px;}
.prosub_cont06 .number.li03{ background-position:0 -117px;}
.prosub_cont06 .number.li04{ background-position:0 -156px;}
.prosub_cont06 .number.li05{ background-position:0 -195px;}
.prosub_cont06 .list strong{ font:bold 16px/39px "微软雅黑"; color:#ed0000;}
.prosub_cont06 .p1{ width:338px; min-height:92px; _height:92px; padding:30px 0 0 30px; font:14px/20px simsun; position:relative;}
.prosub_cont06 .btn01{ display:block; width:180px; height:92px; padding:0 30px 0 88px; position:absolute; top:28px; right:-312px; background:url(../products_images/pro_bubpage_btn01.png) no-repeat; overflow:hidden;}
.prosub_cont06 .btn01 .text02{ font:22px/26px "微软雅黑"; color:red; text-align:right;}
.prosub_cont06 .btn01 .text01{ font:14px/20px "微软雅黑"; color:#333; text-align:right; letter-spacing:0;}
.prosub_cont06 .btn01:hover{ background-position:0 -92px;}
.prosub_cont06 .step{ font-size:14px; width:100%; height:20px; overflow:hidden; position:relative;}
.prosub_cont06 .step p{ position:absolute; top:0;}
.prosub_cont07 .box01{ width:679px; border-right:1px dotted #e5e5e5;}
.prosub_cont07 .p1{ font:16px/25px "微软雅黑"; color:#333; padding:10px 20px 0 48px;} 
.prosub_cont07 .p1 strong{ color:#0054a7;}
.prosub_cont07 .box02{ width:297px;}
.prosub_cont07 .p2{ font:14px/22px "微软雅黑"; color:#666; text-indent:15px;}
.chuxiao_btn02{ width:667px; height:73px; background:url(../products_images/products_btn_bg01.png); position:relative; overflow:hidden;}
.chuxiao_btn02 .btn{ display:block; width:157px; height:40px; background:url(../products_images/products_btn02.png); text-align:center; font:18px/40px "微软雅黑"; color:#fff; position:absolute; top:17px; right:60px}
.chuxiao_btn02 .btn:hover{ background-position:0 -52px;}
.chuxiao_btn02 .text03{font:14px/23px "微软雅黑"; color:#0054a7; position:absolute; top:11px; left:14px;}
.chuxiao_btn02 .text04{font:14px/23px "微软雅黑"; color:#0054a7; position:absolute; top:38px; left:149px;}
.chuxiao_btn02 .red01{ font-size:28px; font-family:arial,Verdana; color:red; font-weight:normal; letter-spacing:0;}
.prosub_cont07 .box03{ width:287px; overflow: hidden;}
.prosub_cont07 .p3{ font:14px/22px "微软雅黑"; color:#0054a7; text-indent:15px;}
.prosub_cont07 .zhuanzhu li{ _display:inline; width:124px; height:29px; border:1px solid #d9d9d9; font:14px/29px "微软雅黑"; text-align:center; color:#333; float:left; margin:6px 0 0 14px;}
.prosub_cont08 .box01{ width:980px; height:515px; background:#f7f7f7;}
.prosub_cont08 .cases_left{ width:708px; height:515px;}
.prosub_cont08 .cases_right{ width:252px; height:150px; padding:010px;}
.prosub_cont08 .cases_right .case_pic{ width:161px; border:1px solid #d9d9d9; margin-top:34px;}
.prosub_cont08 .cases_right p{ font:14px/22px simsun; letter-spacing:0;}
.prosub_cont08 .tab_box{ width:662px; height:475px; background:url(../products_images/pro_case_tab_bg02.png) 15px 0 repeat-y; position:relative; padding:0 15px; margin:20px 0 0 10px; overflow:hidden;}
.prosub_cont08 .duan{ width:662px; height:5px; background-image:url(../products_images/pro_case_tab_bg01.png); overflow:hidden; position:absolute;}
.prosub_cont08 .duan.tabtop{ top:0;}
.prosub_cont08 .duan.tabbtm{ background-position:0 -5px; bottom:0;}
.prosub_cont08 .tab_mask{ width:662px; height:470px; overflow:hidden; position:relative;}
.prosub_cont08 .tab_list{ height:390px; position:absolute; top:0; left:0;} 
.prosub_cont08 .cont{ width:600px; height:445px; float:left; margin:15px 31px 0 31px; position:relative; _display:inline;}
.prosub_cont08 .cont p{ width:580px; font:14px/20px simsun; background:#e4ffff; margin-top:20px; padding:6px 10px;}
.prosub_cont08 .pro_tab_btn{ width:30px; height:61px; background:url(../products_images/products_tab_btn01.png); cursor:pointer; position:absolute;}
.prosub_cont08 .prev{ left:0; top:180px;}
.prosub_cont08 .prev:hover{ background-position:0 -61px;}
.prosub_cont08 .next{ background-position:-30px 0; right:0; top:180px;}
.prosub_cont08 .next:hover{ background-position:-30px -61px;}
.prosub_cont08 .tab_box .asd{ position:absolute; bottom:10px; right:50px; font:14px/20px simsun; color:#2575c1;}
.prosub_cont08 .tab_box .asd:hover{ text-decoration:underline;}
.prosub_cont09 .box01{ width:679px; border-right:1px dotted #e5e5e5;}
.prosub_cont09 .p1{ font:14px/20px simsun; text-indent:48px;}
.prosub_cont09 .ask{ _display:inline; width:280px; margin-left:48px; font:14px/20px simsun; text-decoration:underline; letter-spacing:0;}
.prosub_cont09 .cx_btn{ width:327px; height:82px; background:url(../products_images/pro_btn_bg02.png); position:relative;}
.prosub_cont09 .cx_btn a{ display:block; width:152px; height:46px; background:url(../products_images/products_btn03.png); overflow:hidden; font:21px/46px "微软雅黑"; color:#fff; text-align:center; position:absolute; top:17px; left:158px;}
.prosub_cont09 .cx_btn a:hover{ background-position:0 -46px;}
.prosub_cont09 .box02{ width:289px; padding-left:8px;}
.prosub_cont09 .p2{ font:bold 14px/20px simsun; text-indent:30px;}
.prosub_cont09 .pro_kb_case li{ *display:inline;}
.prosub_cont09 .pro_kb_case a{ display:block; _display:inline; width:95px; height:65px; border:1px solid #eee; float:left; margin:30px 0 0 30px; overflow:hidden;}
.prosub_cont09 .pro_kb_case a:hover{ border-color:#e0e0e0;}
.prosub_cont09 .more_close{ margin:30px 0 0 30px;}
.prosub_cont09 .more_close a{ font:14px/25px simsun; color:#0075c2;}
.prosub_cont09 .more_close a:hover{ text-decoration:underline;}
#bottom_fixed01{ width:100%; height:50px; position:fixed; bottom:0; background:#0392ce; _position:absolute; _top:expression(offsetParent.scrollTop + offsetParent.clientHeight-offsetHeight); z-index:999;}
#bottom_fixed01 a{ display:block; width:980px; height:50px;}
.prosub_cont10 li{ width:640px; height:35px; overflow:hidden; border-bottom:1px dotted #ddd;}
.prosub_cont10 li strong{ font:italic 24px/40px Verdana, Geneva, sans-serif; color:#00a0e9; margin-right:4px;}
.prosub_cont10 li span{ font:14px/40px "微软雅黑";}
.prosub_cont11 td{border-top:2px solid #fff; border-right:1px solid #fff; text-indent:14px; letter-spacing:0;}
.prosub_cont12 .tit{ width:656px; height:35px; overflow:hidden; border-bottom:1px dotted #ddd; margin-top:4px;}
.prosub_cont12 .tit strong{ font:italic 24px/40px Verdana, Geneva, sans-serif; color:#00a0e9; margin-right:4px;}
.prosub_cont12 .tit span{ font:14px/36px "微软雅黑"; color:#059be0;}
.prosub_cont12 .p1{ width:628px; padding-left:30px; line-height:18px; margin-top:6px;}
.prosub_cont13 .list01{ width:653px; font:14px/23px simsun;}
.prosub_cont13 .list01 li{ background:url(../products_images/products_ico02.gif) 0 8px no-repeat; padding-left:13px;}
.prosub_cont13 .list01 strong{ color:#00a0e9;}
.prosub_cont13 .p1{ width:100%; height:60px; position:relative;}
.prosub_cont13 .p1_1{ width:280px; position:absolute; left:65px;}
.prosub_cont13 .p1_2{ width:280px; position:absolute; left:410px;}
.prosub_cont14 .p1{ width:660px; font:14px/20px simsun;}
.prosub_cont14 .list01{ width:660px;}
.prosub_cont14 .list01 li{ border-bottom:1px dotted #ddd; background:url(../products_images/products_ico02.gif) 0 8px no-repeat; padding-left:13px; margin-top:10px;}
.prosub_cont14 .list01 .tit{ font:16px/22px "微软雅黑"; color:#00a0e9;}
.prosub_cont14 .list01 .p2{ font:14px/18px simsun; margin:6px 0; letter-spacing:0;}
.prosub_cont15 .cx_btn02{ width:382px; height:81px; background:url(../products_images/pro_btn_bg03.png); position:relative; margin-top:15px; margin-left:314px;}
.prosub_cont15 .cx_btn02 a{ display:block; width:152px; height:46px; background:url(../products_images/products_btn03.png); overflow:hidden; font:21px/46px "微软雅黑"; color:#fff; text-align:center; position:absolute; top:17px; right:16px;}
.prosub_cont15 .cx_btn02 a:hover{ background-position:0 -46px;}
.prosub_cont15 .tb{ background:url(../products_images/pro_smm_weibo_bg01.png) no-repeat left top; width:655px; height:249px; overflow:hidden; text-align:left; color:#3e3a39; font-size:14px; padding-top:40px; margin:18px 0 0 40px; letter-spacing:0;}
.prosub_cont15 .tb p{ height:34px; line-height:34px; margin-top:2px;}
.prosub_cont15 .tb-2{ background:url(../products_images/pro_smm_weibo_bg01.png) no-repeat left -292px; width:655px; height:445px; overflow:hidden; text-align:left; color:#3e3a39; font-size:14px; padding-top:40px; margin:15px 0 0 40px; letter-spacing:0;}
.prosub_cont15 .tb-2 p{ height:34px; line-height:34px; margin-top:2px; font-family:Arial}
.prosub_cont16 .box01{ width:100%; height:615px; background:#f7f7f7; padding-top:1px;}
.prosub_cont16 .cases_left{ width:708px; height:615px;}
.prosub_cont16 .cases_right p{ font:14px/22px simsun; letter-spacing:0;}
.prosub_cont16 .tab_box{ width:662px; height:575px; background:url(../products_images/pro_case_tab_bg02.png) 15px 0 repeat-y; position:relative; padding:0 15px; margin:20px 0 0 9px; overflow:hidden;}
.prosub_cont16 .duan{ width:662px; height:5px; background-image:url(../products_images/pro_case_tab_bg01.png); overflow:hidden; position:absolute;}
.prosub_cont16 .duan.tabtop{ top:0;}
.prosub_cont16 .duan.tabbtm{ background-position:0 -5px; bottom:0;}
.prosub_cont16 .tab_mask{ width:662px; height:470px; overflow:hidden; position:relative;}
.prosub_cont16 .tab_list{ height:390px; position:absolute; top:0; left:0;} 
.prosub_cont16 .cont{ width:600px; height:445px; float:left; margin:15px 31px 0 31px; position:relative; _display:inline;}
.prosub_cont16 .cont p{ width:580px; font:14px/20px simsun; background:#e4ffff; margin-top:15px; padding:6px 10px;}
.prosub_cont16 .pro_tab_btn{ width:30px; height:61px; background:url(../products_images/products_tab_btn01.png); cursor:pointer; position:absolute;}
.prosub_cont16 .prev{ left:0; top:200px;}
.prosub_cont16 .prev:hover{ background-position:0 -61px;}
.prosub_cont16 .next{ background-position:-30px 0; right:0; top:200px;}
.prosub_cont16 .next:hover{ background-position:-30px -61px;}
.prosub_cont16 .case_top{ min-height:94px; _height:95px; padding:20px 30px 0 30px;}
.prosub_cont16 .case_logo{ width:103px; height:92px; border:1px solid #e5e5e5; overflow:hidden; float:left;}
.prosub_cont16 .pp{ margin-left:10px; letter-spacing:0; line-height:18px; float:left;}
.prosub_cont16 .pp.p1{ width:270px;}
.prosub_cont16 .pp.p2{ width:200px;}
.prosub_cont17{ font-size:14px;}
.prosub_cont17 h2{ width:126px; height:40px; background:url(../products_images/products_tb_pic03.png) no-repeat; color:#fff;font-family: "微软雅黑";  line-height:37px; padding-left:22px; font-size:21px; letter-spacing:5px; margin-top:15px; margin-bottom:5px}
.prosub_cont17 h2.last{_margin-top:-5px;}
.prosub_cont17 p.first{ font-weight:bold; color:#0054a7;}
.prosub_cont17 p.first a{ color:#0054a7; }
.prosub_cont17 p.first a:hover{ text-decoration:underline;}
.prosub_cont17 .ts-t{ background:url(../products_images/products_tb_pic05.png) no-repeat left top; width:662px; height:189px; margin-bottom:15px;}
.prosub_cont17 .ts-t p.f_38{ text-align:center; height:38px; line-height:38px; color:#fff; font-weight:bold}
.prosub_cont17 .ts-t p.f_34{ text-align:center; margin-top:2px; line-height:34px; height:34px; font-weight:bold}
.prosub_cont17 .ts-t p.f_34_b{margin-top:2px; line-height:34px; height:34px; font-weight:normal; text-align:left; margin-left:50px;}
.prosub_cont17 .ts-t p.f_112{ height:95px; margin:25px 20px 0px; text-align:center}
.prosub_cont17 .ts-t p.f_76{ height:76px; margin:10px 50px 0px; line-height:1.4em;}
.prosub_cont17 .ts{ width:655px; height:28px; line-height:28px;}
.prosub_cont17 .ts p{ display:inline-block; float:left; line-height:1.4em;}
.prosub_cont17 .ts p.first{ background:url(../products_images/products_tb_pic04.png) no-repeat; width:18px; height:18px; line-height:18px; text-align:center; color:#fff;}
.prosub_cont17 .left_sgtb-662_anli{ width:662px; padding-bottom:20px;_padding-bottom:0;}
.prosub_cont17 .ts p.last{ padding-left:10px; }
.prosub_cont18 .sgtb_anli_t{ background:url(../products_images/products_tb_pic02.png) no-repeat left top; width:647px; height:43px; font-size:14px; line-height:43px; text-align:left; padding-left:15px; margin-bottom:10px;}
.prosub_cont18 .p1{ font:14px/24px simsun; width:665px;}
.prosub_cx_btn03{ width:434px; height:81px; background:url(../products_images/pro_btn_bg04.png); position:relative; margin-top:15px; margin-left:257px;}
.prosub_cx_btn03 a{ display:block; width:152px; height:46px; background:url(../products_images/products_btn03.png); overflow:hidden; font:21px/46px "微软雅黑"; color:#fff; text-align:center; position:absolute; top:17px; right:16px;}
.prosub_cx_btn03 a:hover{ background-position:0 -46px;}
.prosub_cont19 .cont{width:696px; height:419px; position:relative; overflow:hidden; background:url(../products_images/pro_tencent_pic05.png);}
.prosub_cont19 strong{ color:red; font-weight:normal;}
.prosub_cont19 .box{position:absolute; letter-spacing:0;}
.prosub_cont19 .box01{ width:250px; top:8px; left:222px;}
.prosub_cont19 .box02{ width:140px; top:97px; left:553px;}
.prosub_cont19 .box03{ width:130px; top:213px; left:543px;}
.prosub_cont19 .box04{ width:130px; top:375px; left:290px;}
.prosub_cont19 .box05{ width:260px; top:310px; left:14px;}
.prosub_cont19 .box06{ width:130px; top:125px; left:15px;}
.prosub_cont20 ul{ letter-spacing:0; margin:20px 0 0 40px;}
.prosub_cont20 ul li{ width:657px; height:42px; background:url(../products_images/fstt_pic03.png) no-repeat; margin-bottom:10px; font:14px/42px "微软雅黑"}
.prosub_cont20 ul .nb{ margin-left:12px; font-size:24px; font-family:Verdana, Geneva, sans-serif; color:#139cf1;}
.prosub_cont20 ul .tit{ font-size:14px; color:#139cf1;}
.prosub_cont20 ul strong{ font-size:18px;}
.prosub_cont21 .box03{ width:556px; height:59px; background:url(../products_images/fstt_pic05.png) no-repeat; font:14px/24px "微软雅黑"; margin:6px 0 0 40px; color:#000; padding:25px 0 0 35px; letter-spacing:0;}
.prosub_cont21 .box03 strong{ font-weight:bold; font-size:25px; color:#004a77;}
.prosub_cont21 .box04{ width:646px; height:40px; background:url(../images/fstt_pic10.jpg) bottom no-repeat; margin-top:20px; margin-left:10px; position:relative;}
.prosub_cont21 .box04 p{ position:absolute; top:14px; left:200px; font:14px "微软雅黑"; color:#101010;}
.pro_left .under_tab{ min-height:52px; _height:52px; margin-left:50px; position:relative;}
.prosub_cont21 .btn{ width:157px; height:52px; background:url(../products_images/products_btn02.png); position:absolute; position:absolute; top:0; right:25px;}
.prosub_cont21 .btn a{ display:block; width:157px; height:40px; background:url(../products_images/products_btn02.png); text-align:center; font:18px/40px "微软雅黑"; color:#fff;}
.prosub_cont21 .btn a:hover{ background-position:0 -52px;}
.prosub_cont22 .cont{ width:623px; margin:24px 0 0 40px; padding-bottom:24px; border-bottom:1px dotted #ddd; position:relative; font-family:"微软雅黑"; letter-spacing:0;}
.prosub_cont22 .cont01{ height:474px; background:url(../products_images/fstt_pic06.png) no-repeat;}
.prosub_cont22 .cont02{ height:374px; background:url(../products_images/fstt_pic07.png) no-repeat;}
.prosub_cont22 .cont03{ height:501px; background:url(../products_images/fstt_pic08.png) no-repeat;}
.prosub_cont22 .text{ position:absolute; font:14px/25px "微软雅黑"; color:#000;}
.prosub_cont22 .cont strong{ font-size:18px; color:red; font-weight:normal;}
.prosub_cont22 .cont span{ font-size:18px; color:#fff;}
.prosub_cont22 .p01{ width:238px; top:234px; left:361px;}
.prosub_cont22 .p02{ width:187px; top:163px; left:417px;}
.prosub_cont22 .p03{ width:196px; top:322px; left:159px; line-height:22px;}
.prosub_cont22 .fs_tit{ position:absolute; font:22px/30px "微软雅黑"; color:#fff; top:30px;}
.prosub_cont22 .fs_tit01{ right:368px;}
.prosub_cont22 .fs_tit02{ left:287px;}
.prosub_cont22 .fs_tit03{ right:283px; top:28px;}
.prosub_cont22 .fs_tit04{ left:370px; top:28px;}
/*SEM托管*/
.sem_jdb{ letter-spacing:0;}
.sem_jdb .title{ width:980px; height:45px; background:url(../products_images/semtg/sem_ico01.png) left no-repeat; margin-top:20px;}
.sem_jdb .title p{ width:916px; height:40px; font:24px/40px "微软雅黑"; margin-left:64px; border-bottom:1px dotted #dcdddd; color:#0081d1; letter-spacing:1px;}
.sem_jdb .box01{ width:980px; height:327px; overflow:hidden;}
.sem_jdb .semtg_focus{ width:625px; height:327px; background:url(../products_images/semtg/fl_bg2.png) center 15px no-repeat #dfe0e0; margin-right:1px; float:left; overflow:hidden; position:relative}
.sem_jdb .semtg_focus .mask{ width:568px; height:281px; margin-top:19px; margin-left:29px; background:#000; overflow:hidden; position:relative;}
.sem_jdb .semtg_focus .img_list{ position:absolute; top:0; left:0;}
.sem_jdb .semtg_focus .img_list li{ width:568px; height:281px; float:left; overflow:hidden;}
.sem_jdb .semtg_focus .btn{ width:24px; height:43px; position:absolute; top:140px; cursor:pointer;}
.sem_jdb .semtg_focus .pre{left:3px;}
.sem_jdb .semtg_focus .next{right:3px;}
.sem_jdb .mini_btn{position:relative; left:50%; float:left;}
.sem_jdb .btn_list{position: relative; left:-50%; zoom:1; float:left; bottom:-8px;}
.sem_jdb .btn_list li{ width:12px; height:12px; float:left; margin:0 3px; overflow:hidden; background-image:url(../products_images/semtg/pagination.gif); cursor:pointer;}
.sem_jdb .btn_list li.active{ background-position:0 -12px;}
.sem_jdb .box01 .right{ width:354px; height:327px; background:url(../products_images/semtg/sem_top_right.jpg) repeat-x #ececeb; float:left; position:relative;}
.sem_jdb .box01 .right .text{ width:293px; height:169px; background:url(../products_images/semtg/sem_text01.png); position:absolute; top:18px; left:30px;}
.sem_jdb .box01 .right .btn{ width:216px; height:53px; position:absolute; top:217px; left:73px; }
.sem_jdb .box01 .right .btm{ width:100%; height:32px; background:#595757; text-indent:14px; font:14px/32px "微软雅黑"; color:#fff; position:absolute; bottom:0; border-top:1px solid #fff;}
.sem_jdb .box01 .right .btm span{ font-size:18px; color:#00a0e9;}
.sem_jdb .nav123 { margin:30px 0;}
.sem_jdb .nav123 li{*display:inline; width:auto;}
.sem_jdb .nav123 li a{ display:block; height:38px; width:110px; text-align:center; float:left; background:#98d2ff; margin-right:5px; border:1px solid #98d2ff; font:16px/38px "微软雅黑"; color:#404040;}
.sem_jdb .nav123 li a:hover,.sem_jdb .nav123 li .active{ border-bottom:1px solid #fff; background:#fff; text-decoration:none;}
.sem_jdb .yy{ width:852; padding:10px 64px; position:relative; background:#e4e4e4; margin-top:18px;}
.sem_jdb .yy p{ font:16px/26px "微软雅黑"; color:#595757;}
.sem_jdb .yy span{ color:#f08300; font-size:18px;}
.sem_jdb .yy_top{ width:25px; height:23px; background:url(../products_images/semtg/sem_ico05.gif); position:absolute; top:10px; left:25px;}
.sem_jdb .yy_bottom{ width:25px; height:24px; background:url(../products_images/semtg/sem_ico06.gif); position:absolute; bottom:10px; right:25px;}
.sem_jdb .box02{ margin-top:18px;}
.sem_jdb .box_bg{ width:980px; height:37px; background:url(..products_/images/semtg/sem_bg02.jpg);}
.sem_jdb .box03{ width:980px; margin-top:10px;}
.sem_jdb .box03_list { margin-left:20px; width:300px; background:url(../products_images/semtg/sem_bg01.png) right 20px no-repeat; float:left; _display:inline;}
.sem_jdb .box03_list p{ font:18px/28px "微软雅黑"; color:#00a0eb; margin-bottom:5px;}
.sem_jdb .box03_list li{ line-height:24px; margin-bottom:6px; font-size:14px; text-indent:23px; background:url(../images/semtg/sem_ico02.png) 0 1px no-repeat; color:#231815; letter-spacing:0;}
.sem_jdb .box03_btm{ margin-top:10px; width:628px; height:190px; background:url(../products_images/semtg/sem_bg01.png) right 20px no-repeat; margin-left:20px; float:left;_display:inline;}
.sem_jdb .box03_btm .tit{ font:18px/28px "微软雅黑"; color:#00a0eb; margin-bottom:5px;}
.sem_jdb .box03_btm .tit span{ color:#faaa00;}
.sem_jdb .box03_btm .text{font-size:14px; color:#231815; line-height:24px;}
.sem_jdb .box03_btm_right{ width:300px; margin-left:20px; margin-top:41px; float:left; height:186px; font-size:14px; line-height:24px; position:relative;_display:inline; color:#231815;}
.sem_jdb .box03_btm_right span{ color:#0097db;}
.sem_jdb .box03_btm_right .btn{ position:absolute; bottom:0; right:0;}
.sem_jdb .box04{ width:980px; height:294px; margin-top:40px; position:relative;}
.sem_jdb .box04_left{ width:537px; height:294px; float:left; position:relative; margin-left:20px;}
.sem_jdb .box04 h2{ font:18px/28px "微软雅黑"; color:#00a0eb; margin-bottom:5px;}
.sem_jdb .box04_left span a{ display:block; position:absolute; bottom:0; right:0; color:#e4007f; font-size:14px; font-style:italic;}
.sem_jdb .box04_right { float:left; margin-left:122px;}
.sem_jdb .box04_right img{ margin:5px 0 0 14px;}
.sem_jdb .box05 p{ text-align:center; font:24px/50px "微软雅黑"; color:#00a0eb;}
.sem_jdb .box06{ width:980px; padding-bottom:80px; position:relative;}
.sem_jdb .box06_cont{ height:288px; background:url(../products_images/semtg/sem_bg01.png) right 30px no-repeat; margin-top:60px; position:relative; float:left;}
.sem_jdb .box06_cont h2{font:18px/28px "微软雅黑"; color:#00a0eb; background:url(../products_images/semtg/sem_ico02.png) 0 4px no-repeat; text-indent:26px;}
.sem_jdb .box06_cont p{ width:447px; font-size:14px; line-height:24px; position:absolute; bottom:0; text-align:center;}
.sem_jdb .box06_cont .p01{ position:absolute; top:70px; left:0;}
.sem_jdb .box06_cont .p02{ position:absolute; top:55px; left:0;}
.sem_jdb .box06_cont .p03{ position:absolute; top:42px; left:0;}
.sem_jdb .box06_cont .p04{ position:absolute; top:44px; left:0;}
.sem_jdb .box06_btn{ position:absolute; right:0; bottom:0;}
.sem_jdb .box07{ width:980px; height:292px; margin-top:25px;}
.sem_jdb .box07 .cont{ width:326px; height:292px; position:relative; float:left;}
.sem_jdb .box07 h2{ font:18px/26px "微软雅黑"; color:#2e2e2e; text-indent:26px;}
.sem_jdb .box07 .up{ background:url(../products_images/semtg/sem_ico03.png) no-repeat;}
.sem_jdb .box07 .down{ background:url(../products_images/semtg/sem_ico04.png) no-repeat;}
.sem_jdb .box07 img{ position:absolute; left:0; bottom:33px;}
.sem_jdb .box07 p{ font-size:14px; line-height:22px; color:#242424; position:absolute; bottom:0;}
.sem_jdb .box07 strong{ font-weight:bold; color:#00a0e9;}
.sem_jdb .kehu{ margin-top:38px; margin-bottom:70px; padding-bottom:80px; position:relative;}
.sem_jdb .kehu_tit{ width:208px; height:43px; font:23px/43px "微软雅黑"; color:#fff; text-align:center; background:#00a0e9; margin-bottom:28px;}
.sem_jdb .kehu a{ position:absolute; right:0; bottom:0;}
.sem_jdb_nav{ height:0; overflow:hidden;}


#crumb{width:560px;float:left}#search_box{width:400px;float:right;height:23px;text-align:right}
#search_box input{background:url(bgimg/search_bg.jpg) left top no-repeat;height:20px;width:200px;border:#c7c7c7 1px solid;padding-left:20px;color:#CCC;line-height:20px}
#search_box button{background:url(bgimg/search_bg.jpg) right bottom;width:59px;height:23px;border:0;color:#FFF;line-height:23px;font-size:12px;padding:1px 0}
#seoIntro2 .ornament2{position:absolute;left:225px;top:25px}
#seoIntro2 .ornament{display:inline;float:right;width:368px;margin:-20px 0 0 20px}
#seoIntro3 .cont{margin-top:-30px;z-index:0}
.factor{display:inline;float:left;width:270px;height:50px;margin-left:56px;font-size:14px;padding-left:58px;background-repeat:no-repeat;background-position:0 0}

/*2012-12-29修改 谷歌关键字、搜狗、腾讯效果推广*/
/*公用：tab组件、teb下面的促销组件*/
#pro_tab{ width:681px; margin-top:20px;}
.pro_tabTit{ width:676px; height:49px; overflow:hidden; background:url(../products_images/pro_tab_bg01.png); padding:5px 0 0 5px;}
.pro_tabTit li{ *display:inline; zoom:1;}
.pro_tabTit a{ display:inline-block; height:40px; float:left; font:18px/40px microsoft yahei; color:#000; padding:1px 8px;}
.pro_tabTit a:hover,
.pro_tabTit .active{ border:1px solid #ebebeb; border-radius:3px; background:#fff; color:#0054a7; padding:0 7px;}
.pro_tabBottom{ width:681px; height:13px; overflow:hidden; background:url(../products_images/pro_tab_bg02.png);}
.pro_underTab h3{ width:664px; height:43px; font:24px/43px microsoft yahei; color:#00aafb; text-indent:12px; background:url(../products_images/pro_underTab_tit.png)}
.pro_underTab_btn{ width:134px; height:43px; background:url(../products_images/pro_underTab_btn.png); float:right; margin:-46px 50px 0 0;}
.pro_underTab_btn:hover{ background-position:0 -43px;}
.pro_underTab_list li{ font:16px/30px microsoft yahei; background:url(../products_images/pro_underTab_ico.png) 0 8px no-repeat; text-indent:18px;}
.pro_underTab_list strong{ color:#e70077; font-weight:normal;}
/*谷歌关键字*/
.pro_gggjz_tabMask{ width:681px; height:367px; overflow:hidden; background:url(../products_images/pro_tab_bg03.png) repeat-y; position:relative;}
.pro_gggjz_tabMain{ height:681px; position:absolute; top:0px; left:0px;}
.pro_gggjz_tabMain li{ height:367px; overflow:hidden;}
.pro_gggjz_tabBox01{ width:580px; height:155px; background:url(../products_images/pro_tab_pic01.png) no-repeat; padding:0 0 8px 45px; margin:10px 0 0 26px; float:left; border-bottom:2px dotted #e5e5e5; *display:inline;}
.pro_gggjz_tabBox01 li{ height:31px; font:14px/31px microsoft yahei;}
.pro_gggjz_tabBox02{ width:681px; height:367px; background:url(../products_images/pro_gggjz_tab_pic02.png) 29px 22px no-repeat; position:relative;}
.pro_gggjz_tabBox02_cont01{ position:absolute; top:36px; left:232px;}
.pro_gggjz_tabBox02_cont02{ width:347px; position:absolute; top:123px; left:30px; font:14px/22px simsun;}
.pro_gggjz_tabBox02_cont02 strong{ color:red; font-weight:normal;}
.pro_gggjz_tabBox03{ width:681px; height:367px; background:url(../products_images/pro_gggjz_tab_pic03.png) 30px 22px no-repeat; position:relative;}
.pro_gggjz_tabBox03_tit{ position:absolute; top:93px; left:70px; font:14px/20px microsoft yahei; color:#747474;}
.pro_gggjz_tabBox03_p{ position:absolute; width:325px; top:117px; left:23px;}
.pro_gggjz_tabBox03_table{ position:absolute; width:310px; height:138; top:207px; left:26px; font:bold 14px/22px simsun;}
.pro_gggjz_tabBox03_table th{ color:#fff; text-align:center; line-height:31px; font-weight:bold; height:31px;}
.pro_gggjz_tabBox03_table td{ color:#3d7c9a; text-align:center;}
/*搜狗*/
.pro_sogou_tabMask{ width:681px; height:367px; overflow:hidden; background:url(../products_images/pro_tab_bg03.png) repeat-y; position:relative;}
.pro_sogou_tabMain{ height:681px; position:absolute; top:0px; left:0px;}
.pro_sogou_tabMain li{ height:367px; overflow:hidden;}
.pro_sogou_tabBox01{ width:580px; height:155px; background:url(../products_images/pro_tab_pic01.png) no-repeat; padding:0 0 8px 45px; margin:10px 0 0 26px; float:left; border-bottom:2px dotted #e5e5e5; *display:inline;}
.pro_sogou_tabBox01 li{ height:31px; font:14px/31px microsoft yahei;}
.pro_sogou_tabBox01 li strong{ color:red; font:16px microsoft yahei;}
.pro_sogou_tabBox02{ width:681px; height:367px; background:url(../products_images/pro_sogou_tab_pic02.jpg) 27px 17px no-repeat; position:relative;}
.pro_sogou_tabBox02_cont01{ position:absolute; top:105px; left:26px;}
.pro_sogou_tabBox02_cont02{ width:200px; position:absolute; top:200px; left:26px; font:12px/20px simsun;}
.pro_sogou_tabBox03{ width:681px; height:367px; background:url(../products_images/pro_sogou_tab_pic03.jpg) 40px 24px no-repeat; position:relative;}
.pro_sogou_tabBox03_tit{ position:absolute; top:93px; left:82px; font:14px/20px microsoft yahei; color:#747474;}
.pro_sogou_tabBox03_p{ position:absolute; width:325px; top:117px; left:35px;}
.pro_sogou_tabBox03_table{ position:absolute; width:310px; height:138; top:207px; left:26px; font:bold 14px/22px simsun;}
.pro_sogou_tabBox03_table th{ color:#fff; text-align:center; line-height:31px; font-weight:bold; height:31px;}
.pro_sogou_tabBox03_table td{ color:#3d7c9a; text-align:center;}
/*腾讯效果推广*/
.pro_txxg_tabMask{ width:681px; height:367px; overflow:hidden; background:url(../products_images/pro_tab_bg03.png) repeat-y; position:relative;}
.pro_txxg_tabMain{ height:681px; position:absolute; top:0px; left:0px;}
.pro_txxg_tabMain li{ height:367px; overflow:hidden;}
.pro_txxg_tabBox01{ width:580px; height:155px; background:url(../products_images/pro_tab_pic01.png) no-repeat; padding:0 0 8px 45px; margin:10px 0 0 26px; float:left; border-bottom:2px dotted #e5e5e5; *display:inline;}
.pro_txxg_tabBox01 li{ height:31px; font:14px/31px microsoft yahei;}
.pro_txxg_tabBox01 li strong{ color:red; font:16px microsoft yahei;}
.pro_txxg_tabBox01_under{ width:322px; float:left; margin:16px 16px 0 26px; *display:inline;}
.pro_txxg_tabBox01_under h3{ font:24px/40px microsoft yahei; color:#0054a7; border-bottom:1px dotted #ddd;}
.pro_txxg_tabBox01_under p{ font:14px/24px simsun; margin-top:10px;}
.pro_txxg_tabBox01_btn{ display:block; width:180px; height:92px; padding:0 30px 0 88px; margin-top:53px; float:left; background:url(../products_images/pro_bubpage_btn01.png) no-repeat; overflow:hidden;}
.pro_txxg_tabBox01_btn .text02{ font:22px/26px "微软雅黑"; color:red; text-align:right;}
.pro_txxg_tabBox01_btn .text01{ font:16px/22px "微软雅黑"; color:#333; text-align:right; letter-spacing:0;}
.pro_txxg_tabBox01_btn:hover{ background-position:0 -92px;}
.pro_txxg_tabBox02{ width:681px; height:367px; background:url(../products_images/pro_tencnet_tab_pic01.jpg) 20px 15px no-repeat; position:relative;}
.pro_txxg_tabBox02_cont01{ width:278px; position:absolute; top:165px; left:26px; font:12px/24px simsun;}
.pro_txxg_tabBox03{ width:681px; height:367px; background:url(../products_images/pro_tencnet_tab_pic02.jpg) 15px 24px no-repeat; position:relative;}
.pro_txxg_tabBox03_tit{ position:absolute; top:93px; left:90px; font:14px/20px microsoft yahei; color:#747474;}
.pro_txxg_tabBox03_p{ position:absolute; font:14px/20px simsun; width:320px; top:120px; left:23px;}
.pro_txxg_tabBox03_p strong{ color:red; font-weight:normal;}
.pro_txxg_tabBox03_table{ position:absolute; width:310px; height:138; top:205px; left:20px; font:bold 14px/22px simsun;}
.pro_txxg_tabBox03_table th{ color:#fff; text-align:center; line-height:31px; font-weight:bold; height:31px;}
.pro_txxg_tabBox03_table td{ color:#3d7c9a; text-align:center;}
/*粉丝通*/
.pro_fst_box01 .box01{ width:390px; margin-left:40px; font:16px/27px microsoft yahei; float:left;}
.pro_fst_box01 .box02{ width:270px; margin:10px 0 0 10px; float:left;}
.pro_fst_btn{ width:157px; height:52px; background:url(../products_images/products_btn02.png); float:right; margin-right:20px;}
.pro_fst_btn a{ display:block; width:157px; height:40px; background:url(../products_images/products_btn02.png); text-align:center; font:18px/40px "微软雅黑"; color:#fff;}
.pro_fst_btn a:hover{ background-position:0 -52px;}
.pro_fst_box01 .box03{ margin:10px 20px 0 0; font:14px/40px microsoft yahei; float:right;}
.pro_fst_box02{ width:710px; height:222px; background:url(../products_images/pro_fst_pic03.png) 10px 0 no-repeat; margin-top:20px; }
.pro_fst_box02 li{ width:160px; margin:0 10px; float:left; text-align:center; _display:inline}
.pro_fst_box02 li strong{ font:normal 16px/26px microsoft yahei; color:#d3005b; }
.pro_fst_box02 li p{ margin-top:117px; font:14px/20px simsun;}
.pro_fst_box03{ width:710px; height:45px; margin-top:10px; background:url(../products_images/pro_fst_pic05.png) -4px 0 no-repeat; text-indent:-9000em;}
.pro_fst_box04{ width:710px; height:351px; overflow:hidden;}
.prosub_cont_fst .tab_box{ width:708px; height:375px; margin-top:20px; position:relative;  border: double 1px #c6c7c6; -moz-box-shadow: -2px 3px 7px #c2c2c2;
    -webkit-box-shadow: -2px 3px 7px #c2c2c2;   box-shadow: -2px 3px 7px #c2c2c2;}
.prosub_cont_fst .tab_mask{ width:708px; height:375px; overflow:hidden; position:relative;}
.prosub_cont_fst .tab_list{ height:390px; position:absolute; top:0; left:0;} 
.prosub_cont_fst .cont{ width:708px; height:375px; float:left; position:relative; _display:inline;}
.prosub_cont_fst .pro_tab_btn{ width:30px; height:61px; background:url(../products_images/products_tab_btn01.png); cursor:pointer; position:absolute;}
.prosub_cont_fst .prev{ left:-16px; top:160px;}
.prosub_cont_fst .prev:hover{ background-position:0 -61px;}
.prosub_cont_fst .next{ background-position:-30px 0; right:-16px; top:160px;}
.prosub_cont_fst .next:hover{ background-position:-30px -61px;}
.fst_li_left{ float:left; padding:10px; width:402px;}
.fst_li_left li{ margin-top:12px; overflow:hidden; color:#313131;}
.fst_li_01{ background:url(../products_images/pro_fst_lb03.png) no-repeat; height:34px; line-height:34px;  }
.fst_li_01 em{float:left; width:42px;font-weight:bold;font-size:13px; padding-left:38px;  }
.fst_li_01 strong{float:left; width:322px;font-weight:bold;font-size:13px; color:#e60012;}
.fst_li_02 em{ float:left; width:80px;}
.fst_li_02 strong{ font-weight:normal; width:322px; float:left;}
.fst_li_03 em{ float:left; width:80px;}
.fst_li_03 strong{ font-weight:normal; width:322px; float:left;}
.fst_li_04 em{ float:left; width:70px;color:#0075a9; }
.fst_li_04 strong{ font-weight:normal; width:332px; float:left; color:#0075a9;}
.fst_li_right{ margin:10px 0; padding-left:10px; border-left: dashed 1px #cacaca; float:left; width:265px;}
.fst_li_right p{ margin:10px 0;}
/*商务通弹出-v2*/
#proZtSwt_center{ display:none; width:415px; height:159px; position:fixed; _position:absolute; top:50%;_top:expression(eval(document.documentElement.scrollTop+(parseInt(this.currentStyle.marginTop, 10)||220))); left:50%; margin:-100px 0 0 -208px;_margin:0 0 0 -208px; background:url(../images/pro_zhuanti/pro_zt_swt2.png) no-repeat; z-index:10;}
.proZtSwt_center_p{ position: absolute;top: 40px;left: 83px;width: 340px;font: 14px/22px microsoft yahei;}
.proZtSwt_center_p strong{ font-size:18px; font-weight:normal; color:#f6a200;}
.proZtSwt_center_close{ display:block; width:9px; height:9px; position:absolute; top:8px; right:13px; background:url(../images/pro_zhuanti/pro_zt_swt.png) -416px -189px no-repeat; overflow:hidden; text-indent:-9000em;}
.proZtSwt_center_close:hover{ background-position:-425px -189px;}
.proZtSwt_center_btn{ display:block; width:103px; height:33px; background-image:url(../images/pro_zhuanti/pro_zt_swt.png); position:absolute; top:116px; text-indent:-9000em;}
.proZtSwt_center_btnZX{ background-position:-529px 0; left:176px;}
.proZtSwt_center_btnZX:hover{ background-position:-529px -33px;}
.proZtSwt_center_btnYY{ background-position:-529px -66px; left:296px;}
.proZtSwt_center_btnYY:hover{ background-position:-529px -99px;}


/*竟价软件*/
.ttzt_jjrj { margin-top:20px;padding-left:150px; background:url(../products_images/pro_ttzt/ttzt_jjrj_topsem.png) 5px 0 no-repeat; height:112px; font:20px/24px "微软雅黑"; color:#006cb2; width:500px; padding-top:10px; position:relative;}  
.ttzt_jjrj_line{ height:1px; width:100%; font-size:0; background:url(../products_images/pro_ttzt/ttzt_jjrj_line.png) no-repeat;}
.ttzt_jjrj_tit img{ margin-left:50px;}
.ttzt_jjrj_tit{height:79px; position:relative; margin-top:30px;}
.ttzt_jjrj .btn_jx1{left:320px;top:80px; }
.btn_jx { background: url(../products_images/products_btn02.png) no-repeat ; height: 52px; position: absolute;right: 70px;top: 20px; width: 157px;}
.btn_jx a {background: url(../products_images/products_btn02.png) no-repeat; color: #FFFFFF;display: block; font: 18px/40px "微软雅黑";height: 40px;text-align: center;width: 157px;}
.btn_jx a:hover {  background-position: 0 -52px;}
.ttzt_jjrj_wt{ margin:40px 0 44px 40px; height:253px;}
.ttzt_jjrj_wt li{ float:left; width:160px; height:253px; margin-left:38px; display: inline;text-align:center;color:#5c5c5c; font-size:16px; font-family:"微软雅黑"}  
.ttzt_jjrj_wt02{background: url(../products_images/pro_ttzt/ttzt_jjrj_img02.png) no-repeat;}
.ttzt_jjrj_wt03{background: url(../products_images/pro_ttzt/ttzt_jjrj_img03.png) no-repeat;}
.ttzt_jjrj_wt04{background: url(../products_images/pro_ttzt/ttzt_jjrj_img04.png) no-repeat;}
.ttzt_jjrj_wt li p{ margin-top:42px;}


/*topbox*/
.ttzt_jtfx_tit{ margin:30px 0 55px 0; background:url(../products_images/pro_ttzt/ttzt_jtfx_topbox.png) 20px 0 no-repeat; padding-left:190px; height:50px; font:20px/24px "微软雅黑"; color:#006CB2; position:relative;}
.ttzt_jtfx_line{ height:1px; width:100%; font-size:0; background:url(../products_images/pro_ttzt/ttzt_jjrj_line.png) no-repeat;}
.ttzt_jjrj .btn_jx1{left:320px;top:80px; }
.btn_jx { background: url(../products_images/products_btn02.png) no-repeat ; height: 52px; position: absolute;width: 157px;}
.btn_jx a {background: url(../products_images/products_btn02.png) no-repeat; color: #FFFFFF;display: block; font: 18px/40px "microsoft yahei";height: 40px;text-align: center;width: 157px;}
.btn_jx a:hover {  background-position: 0 -52px;}
.btn_jx01{right: 32px;top: 280px; }
.ttzt_jtfx_main{ height:210px; margin-top:45px; padding:0 40px 0 22px;}
.ttzt_jtfx_main h1{ font:bold 26px/50px "微软雅黑"; color:#595959; }
.ttzt_jtfx_main p{ line-height:30px; color:#6a6a6a;}
.ttzt_jtfx_main p span{ color:#ffffff; background-color:#999;}
.ttzt_jtfx_main_bg01{ background:url(../products_images/pro_ttzt/ttzt_jtfx_img02.png) 430px 0 no-repeat;}
.ttzt_jtfx_main_bg02{ background:url(../products_images/pro_ttzt/ttzt_jtfx_img03.png) 25px 0 no-repeat; text-align:right;}
.ttzt_jtfx_main_bg03{ background:url(../products_images/pro_ttzt/ttzt_jtfx_img04.png) 430px 14px no-repeat; }
.ttzt_jtfx_main_bg04{ background:url(../products_images/pro_ttzt/ttzt_jtfx_img05.png) 25px 0 no-repeat;text-align:right; }
.ttzt_jtfx_main_bg05{ background:url(../products_images/pro_ttzt/ttzt_jtfx_img06.png) 430px 0 no-repeat; }
.ttzt_jtfx_main_bg06{ background:url(../products_images/pro_ttzt/ttzt_jtfx_img07.png) 25px 14px no-repeat;text-align:right;}
.ttzt_jtfx_title{background:url(../products_images/pro_ttzt/ttzt_jtfx_topbox.png) 20px 0 no-repeat; padding-left:190px; height:50px; font:16px/50px "微软雅黑"; color:#434343; position:relative; margin-top:40px;}
.btn_jx02{right: 50px;top:0; }
/*百度开放平台*/
.ttzt_bd_main_bg01{ background:url(../products_images/pro_ttzt/bd_img01.png) 500px 0 no-repeat;}
.ttzt_bd_main_bg02{ background:url(../products_images/pro_ttzt/bd_img02.png) 25px 0 no-repeat; text-align:right; height:250px;}
.ttzt_bd_main_bg03{ background:url(../products_images/pro_ttzt/bd_img03.png) 500px 14px no-repeat; }
.ttzt_bd_main_bg04{ background:url(../products_images/pro_ttzt/bd_img04.png) 25px 0 no-repeat;text-align:right; }
.ttzt_bd_btn{ margin-top:30px; text-align:center;}

/*2014年1月 改版新样式*/
/*广点通*/
.w1008{ width:1008px; margin:0 auto;}
.gdt_banner {background: url(../products_images/gdt/gdt_banner_bg.jpg) repeat-x ;width: 100%;}
.gdt_banner_ce {height: 400px;position: relative;background: url(../products_images/gdt/gdt_banner.jpg)}
.gdt_banner_btn{width:138px; height:36px; background:url(../products_images/gdt/gdt_banner_btn.png); display: block; position:absolute; top:335px; left:430px;}
.gdt_banner_btn:hover{ background-position:0 36px;}
.gdt_nav{  background:url(../products_images/gdt/gdt_nav_bg.png) bottom repeat-x;}
.gdt_none{ display: none;}
.gdt_nav_ce li{ float:left;width:33%;height:93px; cursor:pointer;}
.gdt_nav_ce div{ float:left;width:33%;height:93px; }
.gdt_nav_ce div a, .gdt_nav_ce li a{display:block; margin:16px auto 0 auto;}

.gdt_nav_ce_01 a{ width:197px; height:59px; background:url(../products_images/gdt/gdt_box01_li1.png) no-repeat;}
.gdt_nav_ce_02 a{width:144px; height:55px;background:url(../products_images/gdt/gdt_box01_li2.png) no-repeat;}
.gdt_nav_ce_03 a{width:112px; height:55px;background:url(../products_images/gdt/gdt_box01_li3.png) no-repeat;}
.gdt_boxli a{ background-position:0 -55px;}
.gdt_box01 li{ position:relative;width:1008px; margin:0 auto;}
.gdt_nav_i{width:30px; height:20px;background:url(../products_images/gdt/gdt_nav_i.png) no-repeat; display:block; position:absolute; top:-20px; left:480px;  }
.gdt_nav_i2{left:820px; }
.gdt_box01_ri{ float:left; width:50%;}
.gdt_box01_le{ float:left; width:50%; height:280px; background:url(../products_images/gdt/gdt_box01_img_01.jpg) left center no-repeat;}
.gdt_box01_le2{ float:left; width:50%; height:355px; background:url(../products_images/gdt/gdt_box01_img_02.jpg) right center no-repeat;}
.gdt_box01_le3{ float:left; width:50%; height:280px; background:url(../products_images/gdt/gdt_box01_img_03.jpg) left 10px no-repeat;}
.gdt_box01_le4{ float:left; width:50%; height:355px; background:url(../products_images/gdt/gdt_box01_img_04.jpg) right center no-repeat;}
.gdt_font25{ font-size:25px; line-height:30px; color:#545454;}
.gdt_font32{ font-size:32px; line-height:40px; color:#e71f19;}
.gdt_consult{ text-align:center; font-size:16px;margin:80px 0;}
.gdt_btn{ width:185px; height:50px; background:url(../products_images/gdt/gdt_btn.png) no-repeat; display:block; margin:0 auto;}
.gdt_btn:hover{ background-position:0 -50px;}
.gdt_lunbo { width:100%; height:450px;position:relative}
#gdt_slides {  width:100%; height:450px; padding:0; margin:0; position:relative; background:url(../products_images/gdt/gdt_lunbo_bg.jpg)  #1b6fb8;}
#gdt_slides li { width:100%; height:100%; padding:0; margin:0; position:absolute}
#gdt_slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:46%; top:420px; z-index:10;}
#pagination li { display:block; list-style:none; width:13px; height:13px; float:left; margin-left:8px;background: url(../products_images/gdt/login_current.png) 0 0 no-repeat;  }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-999px; cursor:pointer;font-size:0; line-height:0}
#pagination li.current { background-position:0 -13px;}
.gdt_slides_01{background:url(../products_images/gdt/gdt_lunbo01.jpg) no-repeat center top}
.gdt_slides_02{background:url(../products_images/gdt/gdt_lunbo02.jpg) no-repeat center top}
.gdt_slides_03{background:url(../products_images/gdt/gdt_lunbo03.jpg) no-repeat center top}
.gdt_nav2_le{padding-top:60px; width:200px; color:#757575; font-size:13px; background:url(../products_images/gdt/gdt_box02.jpg) no-repeat; float:left;}
.gdt_nav2_le span{ font-size:18px;}
.gdt_nav2_ri{ float: right; height:100%;}
.gdt_nav2_ri li { float: left; margin-left:70px; display:inline; height:200px; }
.gdt_nav2_ri li a{padding:60px 20px 0 20px; display:block; cursor:pointer; color:#757575; margin-top:50px;}
.gdt_nav2_ri .gdt_boxli2 a{color:#008CD6;}
.gdt_boxli2{ background:#ececec;}
.gdt_nav2_li1 a{background:url(../products_images/gdt/gdt_box02_li1.png) center top no-repeat;}
.gdt_nav2_li2 a{background:url(../products_images/gdt/gdt_box02_li2.png) center top no-repeat;}
.gdt_nav2_li3 a{background:url(../products_images/gdt/gdt_box02_li3.png) center top no-repeat;}
.gdt_nav2_li4 a{background:url(../products_images/gdt/gdt_box02_li4.png) center top no-repeat;}
.gdt_nav2_li5 a{background:url(../products_images/gdt/gdt_box02_li1.png) center top no-repeat;}
.gdt_nav_i3{ left:315px}
.gdt_nav_i4{ left:470px}
.gdt_nav_i5{ left:630px}
.gdt_nav_i6{ left:780px}
.gdt_nav_i7{ left:945px}
.gdt_box02 li{ position:relative;width:1008px; margin:0 auto;}
.gdt_Qzone_le{float:left; width:50%; height:400px;background:url(../products_images/gdt/gdt_box02_img_01.jpg)0 20px no-repeat; }
.gdt_Qzone_ri{float:left; width:50%; height:400px;background:url(../products_images/gdt/gdt_box02_img_02.jpg) center no-repeat; }
.gdt_QQpc_le{float:left; width:50%; height:450px;background:url(../products_images/gdt/gdt_box02_img_03.jpg)0 20px no-repeat; }
.gdt_QQpc_ri{float:left; width:50%; height:450px;background:url(../products_images/gdt/gdt_box02_img_04.jpg) center no-repeat; }
.gdt_QQmusic_le{float:left; width:50%; height:390px;background:url(../products_images/gdt/gdt_box02_img_05.jpg)0 20px no-repeat; }
.gdt_QQmusic_ri{float:left; width:50%; height:390px;background:url(../products_images/gdt/gdt_box02_img_06.jpg) center no-repeat; }
.gdt_QQfriend_le{float:left; width:50%; height:390px;background:url(../products_images/gdt/gdt_box02_img_07.jpg)0 20px no-repeat; }
.gdt_QQfriend_ri{float:left; width:50%; height:390px;background:url(../products_images/gdt/gdt_box02_img_08.jpg) center no-repeat; }
.gdt_QQmobile_le{float:left; width:50%; height:390px;background:url(../products_images/gdt/gdt_box02_img_09.jpg)0 20px no-repeat; }
.gdt_QQmobile_ri{float:left; width:50%; height:390px;background:url(../products_images/gdt/gdt_box02_img_10.jpg) center no-repeat; }
.gdt_box3_bg{background:url(../products_images/gdt/gdt_box_bg.gif) repeat-x; height:216px; padding-top:20px;}
.gdt_box3{background:url(../products_images/gdt/gdt_box3_img.gif) 20px 50px no-repeat; }
.gdt_box3 li{ float: right; width:230px; margin-left:50px;}
.gdt_box3_li1{ padding-top:40px; background:url(../products_images/gdt/gdt_box3_img01.gif) no-repeat;}
.gdt_box3_li2{ padding-top:40px; background:url(../products_images/gdt/gdt_box3_img02.gif) no-repeat;}
.gdt_box3_li3{ padding-top:40px; background:url(../products_images/gdt/gdt_box3_img03.gif) no-repeat;}
.gdt_box3 li h1{ font-size:20px; color:#3f3f3f; line-height:30px;}
.gdt_box3 li p{ color:#757575; font-size:13px;}
.gdt_box3 li p span{color:#3f3f3f;}
.gdt_box4, .gdt_box5 { margin-top:80px;}
.gdt_box5 ul, .gdt_box4_img{margin-top:40px;}
.gdt_box4_btn{ width:92px; height:95px; display:block;background:url(../products_images/gdt/gdt_box4_img01.gif) no-repeat; margin:0 auto;}
.gdt_box4_text{ text-align:center; font-size:28px; line-height:40px; color:#595959; }
.gdt_box4_img{background:url(../products_images/gdt/gdt_box4_img02.gif) center no-repeat; height:100px;}
.gdt_box5_btn{ width:58px; height:50px; display:block;background:url(../products_images/gdt/gdt_box5_img01.gif) no-repeat; margin:0 auto;}
.gdt_box5 ul li{ float:left; width:200px; padding-top:30px;}
.gdt_box5 ul li h1{font-size:20px; color:#3f3f3f; line-height:30px;}
.gdt_box5 ul li p{ color:#757575; font-size:13px;}
.gdt_box5 ul .gdt_box5_li{width:7px; height:80px;margin:0 30px;background:url(../products_images/gdt/gdt_box5_img06.gif)0 30px no-repeat;}
.gdt_box5_li1{background:url(../products_images/gdt/gdt_box5_img02.gif) no-repeat;}
.gdt_box5_li2{background:url(../products_images/gdt/gdt_box5_img03.gif) no-repeat;}
.gdt_box5_li3{background:url(../products_images/gdt/gdt_box5_img04.gif) no-repeat;}
.gdt_box5_li4{background:url(../products_images/gdt/gdt_box5_img05.gif) no-repeat;}
.gdt_boxbg{background:url(../products_images/gdt/gdt_box_bg.gif) repeat-x;  margin-top:100px;}
.gdt_box6{background:url(../products_images/gdt/gdt_box6_img_bg.gif) 0 90px no-repeat;height:236px;}
.gdt_box6_ul{ float:right; width:520px; margin-top:50px;}
.gdt_box6_ul li{ height:40px; width:90px; float:left; margin-right:40px; margin-top:20px;}

/*2014年1月 改版新样式*/
/*搜索广告 sogou广告*/
.sogou_banner {background: url(../images/sogou_banner_bg.jpg) repeat-x ;width: 100%;}
.sogou_banner_ce {height: 400px;position: relative;background: url(../images/sogou_banner.jpg)}
.sogou_banner_btn{width:138px; height:36px; background:url(../images/sogou_banner_btn.png); display: block; position:absolute; top:340px; left:430px;}
.sugou_nav{ background:url(../products_images/sogou/sogou_nav_bg.png) 0 bottom repeat-x;}
.sugou_nav ul {overflow:hidden;}
.sugou_nav ul li{ float:left; padding:10px 0; margin:0 34px; display: inline;}
.sugou_nav ul li a{font-size:16px; width:100px; display:block; text-align:center; color:#666666;}
.sugou_nav ul li a i{height:50px; width:50px; display:block; margin:0 auto;}
.sugou_nav_li1 a i{ background:url(../products_images/sogou/sogou_nav_01.png) no-repeat;}
.sugou_nav_li2 a i{ background:url(../products_images/sogou/sogou_nav_02.png) no-repeat;}
.sugou_nav_li3 a i{ background:url(../products_images/sogou/sogou_nav_03.png) no-repeat;}
.sugou_nav_li4 a i{ background:url(../products_images/sogou/sogou_nav_04.png) no-repeat;}
.sugou_nav_li5 a i{ background:url(../products_images/sogou/sogou_nav_05.png) no-repeat;}
.sugou_nav_li6 a i{ background:url(../products_images/sogou/sogou_nav_06.png) no-repeat;}
.sugou_nav ul li a:hover { color:#068fde;}
.sugou_nav ul li a:hover i{ background-position:-50px 0;}
.sugou_box01{ background:url(../products_images/sogou/sogou_01.jpg) right no-repeat; height:193px; margin-top:50px;}
.sugou_box01 .sugou_tit{ margin-top:30px; margin-left:200px;}
.sugou_size{ font-size:18px; line-height:25px;}
.sugou_size1{ font-size:25px; line-height:30px; font-weight:bold;}
.sugou_tit{ font-size:16px; background:url(../products_images/sogou/sogou_tit_bg.png) right no-repeat #2d77f5; height:42px; padding:0 30px; float:left; color:#fff; line-height:42px; display:inline;}
.sugou_box02{ overflow:hidden;}
.sugou_box02_le{ width:498px; float:left; margin-top:80px;}
.sugou_box02_ri{ width:406px; float:right; margin-top:155px;}
.sugou_line{ height:10px; background:url(../products_images/sogou/sogou_line.jpg) center no-repeat; margin-top:50px;}
.sugou_box03{ height:506px; background:url(../products_images/sogou/sogou_7.jpg) right no-repeat; margin-top:150px; position:relative;}
.sugou_box03 .sugou_tit{ margin-top:30px; }
.sugou_box03_po{ position:absolute; top:-100px; left:0;}
.sugou_gift{ background:url(../products_images/sogou/sugou_gift.jpg) right  bottom no-repeat; height:520px; position:relative;}
.sugou_gift_po{ position:absolute; top:90px;}
.sugou_pho img{ margin:20px 0;}
.sugou_gift .sugou_size{ font-size:16px; color:#0c6eb4;}
.sugou_box04{height:260px; background:url(../products_images/sogou/sogou_8.jpg) right no-repeat; margin-top:250px; position:relative; }
.sugou_box04_po{ position:absolute; top:-200px; left:0;}
.sugou_box04 .sugou_tit{ margin-top:90px;}
.sugou_box04_po1{ position:absolute;top:-160px; right:0; width:470px; color:#717171; font-size:14px;}
.sugou_box04_po2{ position:absolute; left:0; bottom:0;color:#717171; font-size:14px;}
.sugou_box05{height:302px; background:url(../products_images/sogou/sogou_9.jpg) right no-repeat; margin-top:60px; position:relative;}
.sugou_box05 .sugou_tit{top:50px; position:absolute; left:0;}
.sugou_box05_po2{position:absolute; left:0; top:150px;color:#717171; font-size:14px;}
.sugou_box06{height:598px; background:url(../products_images/sogou/sogou_10.jpg)  no-repeat; margin-top:60px; position:relative;}
.sugou_box06_po{position:absolute; left:0; top:-50px;color:#717171; font-size:14px;}
.sugou_box07{height:309px; background:url(../products_images/sogou/sogou_11.jpg)  no-repeat; margin-top:200px; position:relative;}
.sugou_box07_po{position:absolute; left:0; top:-170px;color:#717171; font-size:14px;}
.sugou_box07 .sugou_tit{ margin-top:30px;}
.sugou_box07_po1{ position:absolute;top:-120px; right:0; width:400px; color:#717171; font-size:14px;}
.sugou_box08{height:720px; background:url(../products_images/sogou/sogou_12.jpg)  no-repeat; margin-top:150px; position:relative; margin-bottom:60px;}
.sugou_box08_po{position:absolute; left:0; top:-100px;color:#717171; font-size:14px;}
.sugou_box08 .sugou_size1 span{ font-size:18px; font-weight:normal;}
.bottom_po{  background:#000; position: fixed; bottom:0; left:0; opacity:0.8;filter:alpha(opacity=80); -moz-opacity:0.8;-khtml-opacity:0.8;width:100%;  _position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}
.bottom_po a{height:55px; background:url(../products_images/sogou/sogou_bottom.png) center 0 no-repeat; display:block; }

/*2014年3月 改版新样式*/
/*移动广告 tajoy*/
.tapjoy_banner {background: url(../products_images/tapjoy/tapjoy_banner.jpg) center ;width: 100%; }
.tapjoy_banner_ce {position: relative;height:375px;}
.tapjoy_banner_btn{ position: absolute; top:320px; left:630px; height:40px; width:140px;background: url(../products_images/tapjoy/tapjoy_banner_btn.png) no-repeat; color:#fff; text-align:center; font-size:18px; line-height:35px;}
.tapjoy_box_tit{ color:#ff0000; font-size:32px; line-height:50px; padding:15px 10px;}
.tapjoy_box01{background: url(../products_images/tapjoy/tapjoy_box01.jpg) no-repeat; height:965px; position:relative;}
.tapjoy_box01 ul{background: url(../products_images/tapjoy/tapjoy_box01_icon.gif) 20px 0 no-repeat;font-size:18px; line-height:30px;}
.tapjoy_box01 ul li{ padding:14px 100px;}
.tapjoy_box01 ul li em{ color:#ff0000; font-style:italic; font-weight:bold;}
.tapjoy_box01_po{ position:absolute; top:-50px; right:0; width:600px;}
.tapjoy_box02{background: url(../products_images/tapjoy/tapjoy_box02.jpg) no-repeat; height:327px; }
.tapjoy_box_tit02{ font-size:18px;padding:15px 10px; line-height:30px;}
.tapjoy_box_tit02 span{ font-size:24px;}
.tapjoy_box03{background: url(../products_images/tapjoy/tapjoy_box03.jpg) no-repeat; height:280px; }
.tapjoy_box04{background: url(../products_images/tapjoy/tapjoy_box04.jpg) right 20px no-repeat; height:430px; margin-top:50px;}
.tapjoy_box_tit03{ font-size:18px;padding:0 30px; line-height:40px;}
.tapjoy_box_tit04{ font-size:18px;line-height:40px; text-align:right; width:630px; margin-top:10px;}
.tapjoy_box05{background: url(../products_images/tapjoy/tapjoy_box05.jpg) no-repeat; height:492px; position: relative;}
.tapjoy_box05_po{ position:absolute; top:-40px; right:0; width:250px;}
.tapjoy_box06{background: url(../products_images/tapjoy/tapjoy_box06.jpg) center no-repeat; height:475px; }
.tapjoy_box07{background: url(../products_images/tapjoy/tapjoy_box07.jpg) center no-repeat; height:350px; }
.tapjoy_box08{background: url(../products_images/tapjoy/tapjoy_box08.jpg) center no-repeat; height:615px; }
/*2014年3月 改版新样式*/
/*移动广告 inmobi*/
.inmobi_banner {background: url(../products_images/inmobi/inmobi_banner.jpg) center ;width: 100%; }
.inmobi_banner_ce {position: relative;height:375px;}
.inmobi_banner_btn{ position: absolute; top:280px; left:700px; height:40px; width:140px;background: url(../products_images/inmobi/inmobi_banner_btn.png) no-repeat; color:#fff; text-align:center; font-size:18px; line-height:35px;}
.inmobi_tit{ background:url(../products_images/inmobi/inmobi_tit_icon.jpg) 0 26px no-repeat; padding-left:30px; font-size:25px; color:#0099ff; height:80px; line-height:80px; font-weight:bold;}

/*2014年3月 改版新样式*/
/*topsem客户端*/
.client_01{ background: url(../products_images/topsem/client_01.jpg) center no-repeat; height:279px; margin-top:20px;}
.client_02{ background: url(../products_images/topsem/client_02.jpg) center no-repeat; height:345px; margin-top:30px; position:relative;}
.client_03{ background: url(../products_images/topsem/client_03.jpg) center no-repeat; height:146px; margin-top:60px;}
.client_04{ background: url(../products_images/topsem/client_04.jpg) left no-repeat; height:450px; margin-top:60px;}
.client_05{ background: url(../products_images/topsem/client_05.jpg) right no-repeat; height:388px; margin-top:30px; position: relative;}
.client_06{ background: url(../products_images/topsem/client_06.jpg) left no-repeat; height:235px; margin-top:30px; position: relative;}
.client_07{ background: url(../products_images/topsem/client_07.jpg) right no-repeat; height:173px; margin-top:90px; position: relative;}
.client_08{ background: url(../products_images/topsem/client_08.jpg) left no-repeat; height:385px; margin-top:90px; position: relative;}
.client_09{ background: url(../products_images/topsem/client_09.jpg) right no-repeat; height:197px; margin-top:30px; position: relative;}
.client_btn01 { width:149px; height:40px; background:url(../products_images/topsem/client_btn_01.jpg) no-repeat; display:block; margin:40px auto; cursor:pointer;}
.client_btn02 { background:url(../products_images/topsem/client_btn_02.jpg) no-repeat; margin-top:100px;}
.client_btn01:hover{ background-position:0 -40px;}
.client_tit{ margin-top:60px; font-size:30px; line-height:50px; text-align:center; font-weight:bold; color:#0987d8;}
.client_02_text{ position:absolute; width:220px; font-size:15px; color:#0987d8; top:252px; left:250px;}
.client_ul{ width:220px; position:absolute; color:#666;}
.client_ul li{ background:url(../products_images/topsem/client_icon.png) 0 8px no-repeat; padding-left:10px;}
.client_p{ text-align:center; color:#666;}
.client_ul_01{ left:0; top:100px;}
.client_ul_02{ left:240px; top:100px;}
.client_ul_03{ left:500px; top:100px;width:200px;}
.client_ul_05{ left:0; top:120px; width:250px;}
.client_ul_06{ width:360px; right:0; top:160px;}
.client_ul_07{ left:0; top:80px;}
.client_ul_08{ right:0; top:120px;}
.client_ul_09{ left:0; top:60px;}
.client_title{ font-size:22px; color:#0987d8; font-weight:bold; line-height:30px;position:absolute;}
.client_title_05{top:70px; left:0;}
.client_title_06{top:100px; right:20px;}
.client_title_07{top:30px; left:0;}
.client_title_08{top:80px; right:130px;}
.client_title_09{top:20px; left:0;}

/*2014年3月 改版新样式*/
/*admob*/

.admob_banner { background: url(../products_images/admob/admob_banner.jpg) center  no-repeat; width: 100%; }
.admob_banner_ce { position: relative; height: 358px; }
.admob_banner_btn { position: absolute; top: 160px; left: 608px; height: 40px; width: 140px; background: url(../products_images/admob/admob_banner_btn.png) no-repeat; color: #fff; text-align: center; font-size: 18px; line-height: 35px; }
.admob_box_01{ height:271px; background:url(../products_images/admob/admob_01.jpg) no-repeat; margin-top:20px;}
.admob_box_02{ height:374px; background:url(../products_images/admob/admob_02.jpg) no-repeat; margin-top:150px;position:relative;}
.admob_box_03{ height:210px; background:url(../products_images/admob/admob_03.jpg) no-repeat; margin-top:80px;position:relative;}
.admob_box_04{ height:203px; background:url(../products_images/admob/admob_04.jpg) no-repeat; margin-top:260px;position:relative;}
.admob_box_05{ height:300px; background:url(../products_images/admob/admob_05.jpg) no-repeat; margin-top:120px;position:relative;}
.admob_box_06{ height:410px; background:url(../products_images/admob/admob_06.jpg) right no-repeat; margin-top:20px;position:relative;}
.admob_box_07{ height:85px; background:url(../products_images/admob/admob_07.jpg) no-repeat; margin-top:50px;position:relative;}
.admob_box_08{ margin-top:200px;font-size:24px; line-height:40px; color:#0070c0; }
.admob_box_08 span{ font-size:16px; margin-left:20px;}
.admob_box_09{font-size:24px; line-height:40px; }
.admob_box_10{ padding-left:100px; padding-top:10px; height:50px; background:url(../products_images/admob/admob_09.jpg)  no-repeat; font-size:16px;}
.admob_box_11{ height:315px; background:url(../products_images/admob/admob_08.jpg) no-repeat; margin-top:20px;position:relative;}
.admob_tit01{ position:absolute; top:-120px; left:10px;}
.admob_tit02{ position:absolute; top:-120px; left:500px;}
.admob_f1{ font-size:24px; line-height:40px; color:#0070c0; font-weight:bold;}
.admob_f2{ font-size:16px; line-height:25px;color:#333;}
.admob_f2 span{ font-size:16px; font-weight:bold; color:#0070c0;}
.admob_box_03_tit{font-size:24px; line-height:40px;color:#0070c0; font-weight:bold;position:absolute; top:-60px; left:0px;}
.admob_tit03{ position:absolute; bottom:-120px; left:40px;}
.admob_tit04{ position:absolute; bottom:-120px; left:350px;}
.admob_tit05{ position:absolute; bottom:-120px; left:730px;}
.admob_tit06{ position:absolute; top:-70px; left:0px;}
.admob_tit06 li{ float:left;font-size:18px; line-height:40px;color:#0070c0; width:330px;}
.admob_tit07{ position:absolute; top:-70px; left:60px;font-size:24px; line-height:40px;color:#333; font-weight:bold;}
.admob_tit08{font-size:24px; line-height:40px;color:#0070c0; font-weight:bold;position:absolute; top:20px; left:50px;}
.admob_tit09{font-size:18px; line-height:25px;color:#333; font-weight:bold;position:absolute; top:80px; left:50px;}
.admob_tit10{ position:absolute; top:100px; left:80px;}
.admob_tit11{position:absolute; top:100px; left:440px;}
.admob_tit12{position:absolute; top:100px; left:750px;}
.admob_tit13{position:absolute; top:0; right:0; width:500px; font-size:16px; line-height:30px;}
.admob_tit13 span{font-size:18px; color:#0070c0; font-weight:bold;}
.admob_tit14{font-size:16px; line-height:30px;}
.admob_tit14 p{ margin-top:20px;}
.admob_tit14 span{font-size:18px; color:#0070c0; font-weight:bold;}
.admob_tit14 .admob_f24{ font-size:24px;}

/*2014年9月 改版新样式*/
/*新浪扶翼*/
.fuyi_banner { background: url(../products_images/fuyi/fuyi_banner.jpg) center  no-repeat; width: 100%; }
.fuyi_banner_ce { position: relative;  }
.fuyi_banner_btn { position: absolute; top: 200px; left:700px; height: 40px; width: 140px; background: url(../products_images/admob/admob_banner_btn.png) no-repeat; color: #fff; text-align: center; font-size: 18px; line-height: 35px; }
.fuyi_jieshao{background: url(../products_images/fuyi/fuyi_01.jpg) 50px 0 no-repeat; height:210px; margin-top:30px; }
.fuyi_text { margin-left:400px; width:500px;}
.fuyi_text dt{font-size:26px; line-height:30px; color:#006dbf; padding-top:30px;}
.fuyi_text dd{ font-size:14px;line-height:24px; margin-top:10px; color:#333;}
.fuyi_future{background: url(../products_images/fuyi/fuyi_02.jpg) 50px 0 no-repeat; height:140px; margin-top:30px;}
.fuyi_tit{font-size:16px; color:#333; line-height:40px; margin-top:60px; margin-bottom:10px;}
.fuyi_tit span{font-size:26px; color:#006dbf; margin-right:10px;}
.fuyi_bundle{background: url(../products_images/fuyi/fuyi_04.jpg) 50px 0 no-repeat; height:300px; margin-top:60px;}
.fuyi_ex{background: url(../products_images/fuyi/fuyi_05.jpg) center no-repeat; height:300px;}
.fuyi_tabTit{ width:972px; height:45px; overflow:hidden; background:url(../images/pro_zhuanti/pro_zt_weibo_tabBg01.png); padding:7px 0 0 8px;}
.fuyi_tabTit li{ *display:inline; zoom:1;}
.fuyi_tabTit a{ display:block; width:144px; height:46px; float:left; font:18px/46px microsoft yahei; color:#1b1b1b; text-align:center; margin-left:-4px; text-shadow:1px 1px 0 #fff;}
.fuyi_tabTit a:hover,
.fuyi_tabTit .active{ background:url(../images/pro_zhuanti/pro_zt_weibo_tabBg03_2.png); color:#23a7e4;}
.fuyi_tabTit_first a:hover,
.fuyi_tabTit_first .active{ background:url(../images/pro_zhuanti/pro_zt_weibo_tabBg03.png);}
.fuyi_tabBottom{ width:980px; height:14px; background:url(../images/pro_zhuanti/pro_zt_weibo_tabBg01.png) 0 -53px;}
.fuyi_tabMask{width:980px; height:365px; overflow:hidden; background:url(../images/pro_zhuanti/pro_zt_weibo_tabBg02.png) repeat-y; position:relative;}
.fuyi_tabMain{ height:365px; width:960px; position:absolute; top:0px; left:10px;}
.fuyi_tabMain li{ height:365px; overflow:hidden;}
.fuyi_tabBottom{ width:980px; height:14px; background:url(../images/pro_zhuanti/pro_zt_weibo_tabBg01.png) 0 -53px;}

/*2015/02/10 facebook样式*/
/*facebook*/
.fs14 {
  font-size: 14px; }

.fs15 {
  font-size: 15px; }

.fs16 {
  font-size: 16px; }

.fs17 {
  font-size: 17px; }

.fs18 {
  font-size: 18px; }

.fs19 {
  font-size: 19px; }

.fs20 {
  font-size: 20px; }

.fs21 {
  font-size: 21px; }

.fs22 {
  font-size: 22px; }

.fs23 {
  font-size: 23px; }

.fs24 {
  font-size: 24px; }

.fs25 {
  font-size: 25px; }

.fs26 {
  font-size: 26px; }

.fs27 {
  font-size: 27px; }

.fs28 {
  font-size: 28px; }

.fs29 {
  font-size: 29px; }

.fs30 {
  font-size: 30px; }

.fs31 {
  font-size: 31px; }

.fs32 {
  font-size: 32px; }

.fs33 {
  font-size: 33px; }

.fs34 {
  font-size: 34px; }

.fs35 {
  font-size: 35px; }

.fs36 {
  font-size: 36px; }
.color_b{
	color: #2a44c9;
}
.new-line{
	height: 1px;
	background: #aaa;
	width: 96%;
}























