.wp {
    width: 1100px;
    margin: 0px auto;
}
.tle-1{margin-top:60px;margin-left:10px;float:left;font-size:16px;color:#919191;width:195px;}
.tle-1 h3{font-size:24px;font-weight:100;color:#000;margin-bottom:20px;}
.divyx {
    width: 100%;
    text-indent: -99999px;
    height: 0px;
    overflow: hidden;
}
.tle-1{width:140px;}

.banner, .banner .bd ul li a {display: block;height: 408px;background-repeat: no-repeat;background-position: center center}
.banner .hd {bottom:20px;text-align: center;left:0;width: 100%;}
.banner .hd ul li {display: inline-block;width: 12px;height: 12px;border-radius: 12px;margin: 0 3px;background: #fff;}
.banner .hd ul li.on {background: #1c97d6}

.i-col-1{background:#f4f4f4;border-bottom:1px solid #c1c1c1;}
.i-col-1 .right{float:right;}
.i-col-1 .right .txt{font-size:18px;margin:60px 0 40px 0;color:#000000;}

.i-col-2 .right{float:right;}
.i-col-2 .right .txt{font-size:18px;margin:60px 0 40px 0;color:#000000;}

.i-col-3{background:#f4f4f4;border-bottom:1px solid #c1c1c1;}
.i-col-3 .right{float:right;}
.i-col-3 .right .txt{font-size:18px;margin:60px 0 40px 0;color:#000000;}

.i-col-4 .right{float:right;}
.i-col-4 .right .txt{font-size:18px;margin:60px 0 40px 0;color:#000000;}

.i-col-5 .right{float:right;}
.i-col-5 .right .txt{font-size:18px;margin:60px 0 40px 0;color:#000000;}

.i-col-6{background:#f4f4f4;border-top:1px solid #c1c1c1;}
.i-col-6 .right{float:right;margin-bottom:40px;}
.i-col-6 .right .txt{font-size:18px;margin:60px 0 40px 0;color:#000000;}

