@charset "utf-8";
.ydsjad .bn{height:469px;overflow:hidden;background:url(../images/ydsjgg/bn.jpg) no-repeat center center;}
.ydsjad .main{width:1080px;margin:50px auto;}
.ydsjad .info .pic{height:86px;}
.ydsjad .info{float:left;width:40%;margin:30px 5%}
.ydsjad .info .list{height:200px;color:#1c1c1c}
.ydsjad .info .list div{background:url(../images/ydsjgg/dian.png) no-repeat 0 10px;padding-left:30px;font-size:14px;}
.ydsjad .info .more a{color:#187ac5;font-size:14px;}
.ydsjad .info .zx{margin-top:10px;}