@charset "utf-8";
.ydxxlgg .bn{height:418px;overflow:hidden;background:url(../images/ydxxlgg/bn.jpg) no-repeat center center;}
.ydxxlgg .main{width:1080px;margin:50px auto;}
.ydxxlgg .info .pic{height:86px;}
.ydxxlgg .info{float:left;width:40%;margin:30px 5%}
.ydxxlgg .info .list{height:220px;color:#1c1c1c}
.ydxxlgg .info .list div{background:url(../images/ydxxlgg/dian.png) no-repeat 0 10px;padding-left:30px;font-size:14px;}
.ydxxlgg .info .more a{color:#187ac5;font-size:14px;}
.ydxxlgg .info .zx{margin-top:10px;}