{include file='public/header' /}
    
    <body>
        <div class="x-body">
            <form class="layui-form" method="post" action="{:url('update')}">

                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>姓名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" name="name"  value="{$data.name}"
                         class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>qq
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" name="qq"  value="{$data.qq}"
                         class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="desc" class="layui-form-label">
                        <span class="x-red">*</span>广告名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" name="title"  value="{$data.title}"
                         class="layui-input">
                    </div>

                    <input type="hidden" name="id" value="{$data.id}">

                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="" type="submit">
                        保存
                    </button>
                </div>
            </form>
        </div>
        {include file='public/base_js' /}


    </body>

</html>