<div class="Bottom">

			<div class="BottomNav">

				<ul>

					<li>

						<span class="span1"></span>

						<a href="{:url('about/index')}" >关于我们</a>

						<a href="{:url('contact/index')}" >联系我们</a>

					</li>

					<li>

						<span class="span2"></span>

						<a href="{:url('search/index')}?pid=1">百度营销</a>

						<a href="{:url('search/index')}?pid=2">搜狗营销 </a>

						<a href="{:url('search/index')}?pid=3">360营销 </a>

						<a href="{:url('search/index')}?pid=4">UC营销 </a>

						<a href="{:url('search/index')}?pid=5">神马营销 </a>

					</li>

					<li>

						<span class="span3"></span>

						<a class="span3a1">15072398685 </a>

						<a class="span3a2">439113016@qq.com </a>

						<a href="{:url('contact/index')}" class="span3a3">在线需求提交</a>

					</li>

					<li class="BottomNavLi4">

						<span class="span4"></span>

						<img src="__STATIC__/index/theme/images/wx.jpg" alt="微信扫一扫" />

						<p>微信扫一扫</p>

					</li>

				</ul>

			</div>

			<div class="BottomLink">

				<a>友情链接：</a>

				{volist name="link" id="vo"}
				<a href="{$vo.link}" >{$vo.title}</a>
				{/volist}
			</div>

			<div class="BottomCopy">

				<h3>©2018 　武汉博胜天达广告传媒有限公司　|　版权所有 <a href="http://www.miibeian.gov.cn/"  rel="nofollow">粤ICP备18012994 号</a> <script src="__STATIC__/index/https://s11.cnzz.com/z_stat.php?id=1260175724&web_id=1260175724" language="JavaScript"></script></h3>

			</div>

		</div>