
<script type="text/javascript">
try {
    var urlhash = window.location.hash;
    if (!urlhash.match("fromapp")){
        if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i))){
            window.location="http://whbstdsd.cn/";
        }
    }
}catch(err){}
</script>

<div class="header-fixed">
			<div class="header-bg">
				<div class="TopNews">

					<div class="LogoNews">

						<a href="/"><img src="__STATIC__/index/theme/images/logo.jpg" title="武汉博胜天达广告传媒有限公司" alt="武汉博胜天达广告传媒有限公司" /></a>

					</div>

					<div class="ShareNews">

						<ul>

							<li>

								<a href="{:url('contact/index')}#online_xq"><img src="__STATIC__/index/theme/images/t4.png" /> </a>

							</li>

							<li>

								<img class="TopWx" src="__STATIC__/index/theme/images/t2.png" alt="微信" title="微信" />

								<div class="WxUpShow">

									<img src="__STATIC__/index/theme/images/navWx.jpg" />

								</div>

							</li>

							<li>

								<span>15072398685</span>

							</li>

						</ul>

					</div>

					<div class="MainNav ">

						<ul class="nav">

							<li>
								<a href="{:url('index/index')}">首页</a>
							</li>
                            <li>
								<a href="{:url('about/index')}" >关于我们</a>
							</li>
								
							<li>
								<a href="{:url('seo/index')}" >网络SEO</a>
							</li>

							<li>
								<a href="{:url('wangzhan/index')}" >网站建设</a>
							</li>

							<li class="m">
								<a href="{:url('search/index')}?pid=1" >搜索引擎</a>

								<div class="box Movebox">

									<div class="NavList">

										<dl>
											{volist name="res" id="vo"}
											<dt><a href="{:url('search/index')}?pid={$vo.pid}">{$vo.cate_name}</a>
											</dt>
											{/volist}

										</dl>

									</div>

									<div class="NavWx">

										<span></span>

										<img src="__STATIC__/index/theme/images/navWx.jpg" alt="微信" />

										<p>关注博胜天达官方微信</p>

									</div>

								</div>

							</li>

							<li class="m">
								<a href="{:url('xinxi/index')}?pid=1" >信息流营销</a>

								<div class="box Socialbox">

									<div class="NavList">

										<dl>
											{volist name="resu" id="vo"}
											<dt><a href="{:url('xinxi/index')}?pid={$vo.pid}">{$vo.cate_name}</a></dt>
											{/volist}

											
										</dl>

									</div>

									<div class="NavWx">

										<span></span>

										<img src="__STATIC__/index/theme/images/navWx.jpg" alt="微信" />

										<p>关注博胜天达官方微信</p>

									</div>

								</div>

							</li>

							<li class="m">
								<a href="{:url('weixin/index')}?pid=1" >微信朋友圈</a>

								<div class="box Mobilebox">

					               <div class="NavList">
					
					                  <dl>
					
					                     {volist name="weixin" id="vo"}
											<dt><a href="{:url('weixin/index')}?pid={$vo.pid}">{$vo.cate_name}</a></dt>
										{/volist}
					
					                  </dl>
					
					               </div>
					
					               <div class="NavWx">
					
					                  <span></span>
					
					                  <img src="__STATIC__/index/theme/images/navWx.jpg"  alt="微信"/>
					
					                  <p>关注博胜天达官方微信</p>
					
					               </div>
					
					            </div>

							</li>

							<li>
								<a href="{:url('yangshi/index')}" >央视广告</a>
							</li>

							<li>
								<a href="{:url('weishi/index')}" >卫视广告</a>
							</li>
                            
                            <li>
								<a href="{:url('contact/index')}" >联系我们</a>
							</li>
						</ul>

						<div class="clear"></div>

					</div>

				</div>
			</div>
		</div>
<!--顶部到导航栏