            <div id="newswt">

                <div class="swt_top">
                    <a class="newswt_close" href="javascript:void(0)" title="最小化"></a>
                </div>

                <ul class="swt_mian">

                    <li>

                        <div class="swt_tit">社交广告</div>

                        <ul class="swt_cont clearfix">
                            {volist name="shejiao" id="vo"}
                            <li data="{$vo.name}">
                                <a class="swt_link">{$vo.title}</a>
                                <a class="swt_qq" href="tencent://Message/?Uin={$vo.qq}&websiteName=博盛天达&Menu=yes;"  rel="nofollow"></a>
                            </li>
                            {/volist}

                        </ul>

                    </li>

                    <li>

                        <div class="swt_tit">信息流广告</div>

                        <ul class="swt_cont clearfix">
                            {volist name="liuguang" id="vo"}
                            <li data="{$vo.name}">
                                <a class="swt_link">{$vo.title}</a>
                                <a class="swt_qq" href="tencent://Message/?Uin={$vo.qq}&websiteName=博盛天达&Menu=yes;"  rel="nofollow"></a>
                            </li>
                            {/volist}

                        </ul>

                    </li>

                </ul>

                <div style=" padding: 10px; background: #f9f9f9; border-left: 1px solid #dbdbdb;"><img style=" width: 100%;" src="__STATIC__/index/theme/images/erweima.jpg" /></div>

                <div class="swt_bottom"></div>

            </div>

            <script type="text/javascript">
                var time = new Date();

                var $day = time.getDay(); //天
                var $hour = time.getHours(); //时
                var $minute = time.getMinutes(); //分

                var $m_time = time.getMonth() + 1;
                var $y_time = time.getFullYear();

                var $d_time = time.getDate();

                //alert($hour);

                if(($hour > 18 && $d_time < 9)) {
                    $("#swt_message").show();
                    $("#proZtSwt_center").remove();

                } else {

                    if($day == 0 || $day == 6) {
                        //if($day > 12 && $day < 22 ){
                        $("#swt_message").show();
                        $("#proZtSwt_center").remove();

                    } else {

                        if($hour < 9 || ($hour > 18 && $hour < 24) || ($hour == 13 && $minute <= 30) || $hour == 12) {

                            $("#swt_message").show();
                            $("#proZtSwt_center").remove();
                        } else {

                            $('#newswt').show();
                        }
                    }
                }
            </script>