<div id="proZtSwt_center">

				<p class="proZtSwt_center_p">您好！博胜天达<strong>18</strong>年网络推广经验，服务超过<strong>60000</strong>家。<br />专注移动互联网整合营销、社交媒体营销、外贸营销<br />等。立即咨询获取专属您的推广方案！</p>

				<a  href="tencent://Message/?Uin=439113016 &websiteName=博盛天达&Menu=yes;" class="proZtSwt_center_btn proZtSwt_center_btnZX">马上咨询</a>
				<a href="tencent://Message/?Uin=439113016 &websiteName=博盛天达&Menu=yes;"  id="form_btn_exp" onmousedown="_gaq.push(['_trackEvent', 'form', 'tc', 'zt_tc_yuyue',1,true]);" class="proZtSwt_center_btn proZtSwt_center_btnYY">立即预约</a>
				<a href="#" class="proZtSwt_center_close" title="关闭">关闭</a>
			</div>