﻿@charset "utf-8";
html,body{ font:normal 62.5%/2.3em Arial,"微软雅黑";}
body{ margin:0px; padding:0px; margin:0px auto; font-size:12px; color:#666666; width:100%; min-width:1200px; width:expression((documentElement.clientWidth < 1200) ? "1200px" : "100%" ); zoom:1;}
ul,li,form, dl,dt,dd, div,span{ padding: 0px; margin: 0px;list-style:none;}
.h1,.h2,.h3,.h4,.h5,.h6,.p{ padding:0px; margin:0px;}
select,input,textarea{ border-radius:0; -webkit-border-radius:0; color:#666666;}
input:focus { outline: none;}
input,button,select,textarea{outline:none; -webkit-appearance:none;/*强制去除表单自带的样式*/ }
textarea{resize:none; -webkit-appearance:none;/*强制去除textarea自带的样式*/ }
textarea,input,select { background:none; border:none; margin:0; padding:0;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{ display: block;} /*html5设置*/
figure,figcaption{ margin:0px; padding:0px;}
audio,canvas,progress,video { display: inline-block; vertical-align: baseline;}
img{ border:none;vertical-align:top;}
a{ color:#666666; text-decoration:none; noline:-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:focus {outline:none; -moz-outline:none;}
a:hover{ text-decoration:none; color:#0077c0;}
.clear{ clear:both; height:0px; overflow:hidden;}
em{font-style: normal;}

/*Top*/

.header-fixed{ height:120px;}
.header-bg{ width:100%; position:fixed; left:0; top:0; z-index:999; background:#fff;}


.TopNews{width: 1000px; margin: 0 auto; height: 120px; position: relative;}
.TopNews .LogoNews{ position: absolute; left: 0px; top:10px;}
.TopNews .LogoNews img{width: 186px; height: 53px;}
.TopNews .MainNav{ float: right; margin-top: 60px;}
.TopNews .MainNav li{ float: left; height: 43px; padding-top: 10px;}
.TopNews .MainNav li > a{ padding: 0 18px; display: block; font-size: 14px; color: #333; height: 48px; line-height: 48px;}
.TopNews .MainNav li > a:hover,.TopNews .MainNav li.li_hover a{background: #e5e5e5; border-top-right-radius:8px;border-top-left-radius:8px; }

.MainNav li{}
.MainNav li .box{width: 258px; padding:0px 10px 10px 15px; position: absolute; z-index: 9999; top:118px; background: #e5e5e5; border-bottom-right-radius:8px;border-bottom-left-radius:8px; display: none;  }

.MainNav li .box .NavList{width: 120px; float: left;}
.MainNav li .box .NavList dl{}
.MainNav li .box .NavList dt{ float: left; padding: 10px 0 1px; border-bottom: 1px dashed #333; width: 100%; text-indent:5px;}
.MainNav li .box .NavList dl dt a{width: 100%; display: block;}
.MainNav li .box .NavList dt:hover{border-bottom: 1px dashed #0077c0;}
.MainNav li .box .NavList dt:hover a{color:#0077c0;}

.MainNav li .box .NavWx{width: 105px; float: right; margin-top: 18px;}
.NavWx span{ width: 95px; height: 20px; background: url("../images/wxsys.jpg") no-repeat; display: block; margin: 0 auto 12px; }
.NavWx img {width: 105px; height: 105px;}
.NavWx p{color: #5a5a5a; text-align: center;}

.Movebox{left:420px;}
.Socialbox{ left: 512px;}
.Mobilebox{left: 618px;}

.ShareNews{ position: absolute; right: 0; top:13px;}
.ShareNews ul{}
.ShareNews li{ float: left;  margin-right:10px; cursor: pointer; }
.ShareNews li > img,.ShareNews li a img{width: 90%; margin-top: 2px;}
.ShareNews li span{ color: #393939; font-weight:bold; font-size: 22px; padding-left: 30px; background: url("../images/t3.png") no-repeat left center; height: 28px; display: block; line-height: 33px; }

.WxUpShow{ position: absolute; top:32px; right: 157px; z-index: 9999; display: none;}
.WxUpShow img{width: 105px; height: 105px; border: 1px solid #ddd;}
/*Top*/

/*Bottom*/
.Bottom{ width: 100%; background: #3d3d3d; padding-top: 60px;}
.BottomCopy{height: 75px; width: 100%; background: #000; line-height: 75px;}
.BottomCopy h3{color:#fff; text-align: center; font-size: 16px; font-weight:100; margin: 0;}
.BottomNav{ overflow: hidden; width: 1000px; margin: 0 auto;}
.BottomNav li{ float: left; width: 180px; margin: 0 35px;}
.BottomNav li span{background:url("../images/bottomIco.png") no-repeat; width: 127px; height: 34px; display: block; margin-bottom: 55px;}
.BottomNav li .span1{ background-position: 0 -2px;}
.BottomNav li .span2{ background-position: 0 -42px;}
.BottomNav li .span3{ background-position: 0 -81px;}
.BottomNav li .span4{ background-position: 0 -121px;}

.BottomNav li a{width: 100%; display: block; color: #fff; font-size: 16px;}
.BottomNav li a:hover{ opacity: 0.8;}
.BottomLink{width: 1000px; margin: 0 auto; text-align: left; overflow: hidden; padding-bottom: 10px;}
.BottomLink a{ float: left; font-size: 14px; color: #fff;}
.BottomLink em{ float: left; font-size: 14px; color: #fff; margin: 0 5px;}

.BottomNavLi4 p{text-align:left; padding-left: 32px; font-size: 14px; color: #fff; background: url("../images/liIco.png") no-repeat; background-position: 0 -76px;}
.BottomNavLi4 .wb{padding-left:12px;}

.BottomNav .span3a1{background: url("../images/liIco.png") no-repeat; background-position: 0 -6px; padding-left: 32px; display: block;}
.BottomNav .span3a2{background: url("../images/liIco.png") no-repeat; background-position: 0 -39px; padding-left: 32px; display: block;}
.BottomNav .span3a3{background: url("../images/liIco.png") no-repeat 0 -114px; padding-left: 32px; display: block; font-size:12px;}
/*Bottom*/

/*Banner*/
.HomeBan{ width:100%; height:470px; overflow:hidden; position: relative;}
.HomeBan .BanList{ width:100%; height:470px;}
.HomeBan .BanList li{ width:100%; height:470px; overflow:hidden; margin: 0 auto;}
.HomeBan .BanList li a{ width:100%; height:470px; display:block;}
.HomeBan .listIco{ position: absolute; bottom:20px; text-align: center;  min-width: 100px; left: 50%; margin-left: -50px; }
.HomeBan .listIco span{width: 10px; height: 10px; background: #0075bf; border-radius: 5px; margin: 0 5px; display: inline-block; }
.HomeBan .listIco span.on{background: #f5c10d;}
.HomeBan .prev,
.HomeBan .next{ position:absolute; left:15%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url("../images/slider-arrow.png") -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.HomeBan .next{ left:auto; right:15%; background-position:8px 5px; }
/*Banner*/

/*index*/
.HomeBoxTip{padding-top: 22px;}
.HomeBoxTip span{ width: 25px; height: 55px; margin: 0 auto; background: url("../images/Ico.png") no-repeat; display: block; margin-bottom: 10px;}
.HomeBoxTip h2{font-size: 20px; color: #444; font-weight: none; margin: 0; padding: 0; text-align: center;}
.HomeBoxTip p{ color: #999; margin-top: -4px; padding: 0; text-align: center;}

.HomeBox1Con{width: 1000px; margin: 0 auto; overflow: hidden; height: 470px;}
.HomeBox1Con img{width: 1000px;height: 470px;}
.HomeBox1Con p,.HomeBox1Con h2{text-indent: -9000em;float: right;}

.HomeBox2{width: 100%; background: #f4f4f4; height: 690px;}
.HomeBox2Con{width: 1000px; margin: 0 auto; overflow: hidden; height: 545px;}
.HomeBox2Con img{width: 1000px; height: 545px;}
.HomeBox2Con p,.HomeBox2Con h2{text-indent: -9000em;float: right;}

.HomeBox3{ padding-top: 40px;}
.HomeBox3Con ul{overflow: hidden; width: 890px; margin:30px auto 70px;}
.HomeBox3Con ul li{ width: 144px; height: 144px; float: left; background: url("../images/caseIco.png") no-repeat; cursor: pointer; margin-right: 40px; margin-bottom: 10px;}
.HomeBox3Con .Li1{ background-position: 0px -2px; }
.HomeBox3Con .Li2{ background-position: -144px -2px; }
.HomeBox3Con .Li3{ background-position: -287px -2px; }
.HomeBox3Con .Li4{ background-position: -430px -2px; }
.HomeBox3Con .Li5{ background-position: -573px -2px; margin-right: 0; }
.HomeBox3Con .Li6{ background-position: 0px -148px; margin-left: 90px; }
.HomeBox3Con .Li7{ background-position: -144px -146px; }
.HomeBox3Con .Li8{ background-position: -287px -147px; }
.HomeBox3Con .Li9{ background-position: -431px -146px; }

.HomeBox3Con .Li1:hover{ background-position: 0px -292px; }
.HomeBox3Con .Li2:hover{ background-position: -143px -291px; }
.HomeBox3Con .Li3:hover{ background-position: -286px -291px; }
.HomeBox3Con .Li4:hover{ background-position: -429px -291px; }
.HomeBox3Con .Li5:hover{ background-position: -573px -290px; }
.HomeBox3Con .Li6:hover{ background-position: 0px -436px; }
.HomeBox3Con .Li7:hover{ background-position: -143px -435px; }
.HomeBox3Con .Li8:hover{ background-position: -286px -435px; }
.HomeBox3Con .Li9:hover{ background-position: -429px -435px; }

.HomeBox4Con{ width: 1000px; margin: 40px auto 100px;  height: 48px; position: relative; }
.HomeBox4Con .bd {overflow: hidden;}
.HomeBox4Con .bd li{ float: left;width: 110px; height: 48px; margin: 0 7px;}
.HomeBox4Con .bd li img{width: 110px; height: 45px; border: 1px solid #8c8c8c;}
.HomeBox4Con .bd li img:hover{ border: 1px solid #0071bf;}

.HomeBox4Con .next,.HomeBox4Con .prev{width: 32px; height: 32px;  position: absolute; display: block; cursor: pointer;}
.HomeBox4Con .next{background: url("../images/left.png") no-repeat;left: -43px; top:9px; }
.HomeBox4Con .prev{background: url("../images/right.png") no-repeat;right: -43px; top:9px; }
/*index*/


/*sitemap*/

/*商务通弹出-v2*/
				
				#proZtSwt_center {
					display: none;
					width: 700px;
					height: 400px;
					position: fixed;
					_position: absolute;
					top: 50%;
					_top: expression(eval(document.documentElement.scrollTop+(parseInt(this.currentStyle.marginTop, 10)||220)));
					left: 50%;
					margin: -200px 0 0 -350px;
					_margin: 0 0 0 -350px;
					background: url(../images/pro_zt_swt2.png) no-repeat;
					z-index: 10;
				}
				
				.proZtSwt_center_p {
					position: absolute;
					top: 40px;
					left: 93px;
					width: 320px;
					font: 12px/22px microsoft yahei;
					display: none;
				}
				
				.proZtSwt_center_p strong {
					font-size: 18px;
					font-weight: normal;
					color: #f6a200;
				}
				
				.proZtSwt_center_close {
					height: 25px;
					width: 25px;
					position: absolute;
					display: block;
					top: 44px;
					right: 72px;
					cursor: pointer;
				}
				
				.proZtSwt_center_close:hover {
					background-position: -425px -189px;
				}
				
				.proZtSwt_center_btn {
					display: block;
					width: 137px;
					height: 35px;
					/*background-image:url(../images/pro_zt_swt.png);*/
					position: absolute;
					top: 295px;
					text-indent: -9000em;
				}
				
				.proZtSwt_center_btnZX {
					background-position: -529px 0;
					left: 152px;
				}
				
				.proZtSwt_center_btnZX:hover {
					background-position: -529px -33px;
				}
				
				.proZtSwt_center_btnYY {
					background-position: -529px -66px;
					left: 405px;
				}
				
				.proZtSwt_center_btnYY:hover {
					background-position: -529px -99px;
				}
				

#swt_message {
				width: 285px;
				height: 286px;
				font: 12px/20px Verdana, simsun;
				background: url(../images/swt_message.png);
				position: fixed;
				bottom: 10px;
				right: 10px;
				display: block;
				z-index: 1000;
				display: none;
			}
			
			#swt_message_mini {
				width: 140px;
				height: 49px;
				background: url(../images/swt_message.png) -285px -236px;
				position: fixed;
				bottom: 4px;
				right: 0;
				display: none;
				cursor: pointer;
			}
			
			* html #swt_message {
				position: absolute;
				top: expression(offsetParent.scrollTop + offsetParent.clientHeight-offsetHeight - 10)
			}
			
			* html #swt_message_mini {
				position: absolute;
				top: expression(offsetParent.scrollTop + offsetParent.clientHeight-offsetHeight - 10)
			}
			
			#swt_msg_close {
				display: block;
				width: 20px;
				height: 20px;
				background: url(../images/swt_message.png) -405px 0 no-repeat;
				margin: 12px 0 0 262px;
				z-index: 20;
			}
			
			#swt_msg_close:hover {
				background-position: -405px -20px;
			}
			
			.swt_msg_cont1 {
				color: #262626;
				margin-top: -8px;
				padding: 0 12px;
				height: 80px;
				overflow: hidden;
				z-index: 10;
			}
			
			.swt_msg_cont1 p {
				margin: 0;
			}
			
			.swt_msg_form {
				width: 240px;
				height: 154px;
				margin: 18px 0 0 27px;
				line-height: 22px;
				position: relative;
			}
			
			.swt_msg_li {
				width: 240px;
				height: 22px;
				margin-top: 6px;
				_margin-top: -1px;
				*margin-top: 5px;
				overflow: hidden;
			}
			
			.swt_msg_li input {
				width: 160px;
				height: 22px;
				border: 0;
				padding: 0 4px;
				background: none;
				vertical-align: top;
			}
			
			.swt_msg_li .tit1 {
				font-size: 12px;
				width: 65px;
				text-indent: 7px;
				height: 22px;
				line-height: 20px;
				float: left;
				margin: 0;
			}
			
			.swt_msg_list {
				width: 198px;
				border: 1px solid #ddd;
				background: #fff;
				padding-bottom: 5px;
				position: absolute;
				left: 55px;
				top: 78px;
			}
			
			.swt_msg_list li {
				display: block;
				zoom: 1;
				float: left;
				margin: 3px 0 0 5px;
				padding: 0 2px;
				cursor: default;
				white-space: nowrap;
			}
			
			.swt_msg_list li:hover {
				background: #eee;
			}
			
			.swt_msg_li textarea {
				width: 160px;
				height: 20px;
				line-height: 22px;
				border: 0;
				resize: none;
				background: none;
				padding: 0 0 0 4px;
				font: 12px/18px Verdana, simsun;
				break-word: break-all;
				*margin-top: -4px;
			}
			
			.swt_msg_text {
				margin-top: 2px\9;
			}
			
			.swt_msg_submit {
				width: 59px;
				height: 33px;
				border: 0;
				background: url(../images/swt_message.png) -344px 0;
				margin: 4px 0 0 94px;
				cursor: pointer;
			}
			
			.sswt_msg_submit:hover {
				background-position: -285px 0;
			}
			
			.color_w {
				color: #f1f1f1;
			}
			
			.color_o {
				color: #ff9900;
			}
			
			.message_ewm {
				position: absolute;
				left: 30px;
				bottom: 10px;
				width: 40px;
				height: 40px;
			}
			
			.message_ewm .img {
				position: absolute;
				left: 50%;
				bottom: 50px;
				width: 118px;
				margin-left: -60px;
				border: 1px solid #237fd6;
				display: none;
			}
			

.semYitihua_btn {
				width: 159px;
				height: 45px;
				background: url("theme/images/pro_zhuanti/semYitihua/semYitihua_btn.png") no-repeat scroll 0% 0% transparent;
				text-indent: -9000em;
				float: right;
				margin: 12px 15px 0px 0px;
			}
			

			
			.fuyi_banner {
				width: 100%;
				background-color: #fff;
				background: none;
			}
			
			.fuyi_banner img {
				width: 100%;
			}
			
			.fuyi_banner_ce {
				position: relative;
				
			}
			
			.fuyi_banner_ce .bd,
			.fuyi_banner_ce .bd li {
				
			}
			
			.fuyi_banner_ce .prev,
			.fuyi_banner_ce .next {
				position: absolute;
				left: 3%;
				top: 50%;
				margin-top: -25px;
				display: block;
				width: 32px;
				height: 40px;
				background: url(../images/slider-arrow.png) -110px 5px no-repeat;
				filter: alpha(opacity=50);
				opacity: 0.5;
			}
			
			.fuyi_banner_ce .next {
				left: auto;
				right: 3%;
				background-position: 8px 5px;
			}
			.tit01 {
			    width: 100%;
			    font: 22px/30px "微软雅黑";
			    color: #0054A7;
			    text-indent: 30px;
			}
			.semYitihua_btn {
			    width: 159px;
			    height: 45px;
			    background: url("../images/semYitihua_btn.png") no-repeat scroll 0% 0% transparent;
			    text-indent: -9000em;
			    float: right;
			    margin: 12px 15px 0px 0px;
			    margin-left: 0px!important;
			}
			.momo-3 {
				width: 1020px;
				
				margin: 0 auto;
				position: relative;
			}
			.momo-3 img{width:100%;}
			.sohu-10 {width:1028px;margin: 0 auto;}			
			.sohu-10 h2{ font-size: 30px; color: #ca9729; margin: 20px 0 20px;}
			
			.sohu-10 h2 em{font-size: 55px;}			
			.caseBan{ width:100%; height:420px; overflow:hidden; position: relative; margin:70px auto 20px; }
			
			.caseBan .BanList{ width:1010px; height:420px; overflow: hidden;}
			
			.caseBan .BanList li{ width:1010px; height:420px; overflow:hidden; margin: 0 auto;}
			
			.caseBan .BanList li img{ width:1010px; height:420px; display:block;}
			
			.caseBan .prev,
			
			.caseBan .next{ position:absolute; left:0%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url("https://www.teamtopsem.net/Tpl/schinese/images/sohupic/slider-arrow.png") -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
			
			.caseBan .next{ left:auto; right:0%; background-position:8px 5px; }
			
            